In [ ]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")
os.getcwd()

In [ ]:
# 2.读取文件
df = pd.read_csv("./data/stock_day.csv")
df

In [ ]:
# 3.去除不需要(当下后期业务分析不到的数据)的数据
df.drop(columns=['ma5', 'ma10', 'ma20', 'v_ma5', 'v_ma10', 'v_ma20'], axis=1, inplace=True)     # axis 为0
df

In [ ]:
# df.info()     # 可以查看数据质量
df.describe()

In [ ]:
# 4.索引操作
# 场景一：根据行列索引来获取元素    先列后行
df['open']['2018-02-23']        # 先列后行

In [ ]:
# 尝试！！！！ 先行后列  报错  要求先列后行
df['2018-02-23']['open']            # 报错 KeyError: '2018-02-23'

In [ ]:
# 场景2  结果loc 和iloc
# 根据行索引 和 列名来获取元素
# 格式：  df.loc[行索引, 列名]
# 格式：  df.iloc[行号, 列索引]

df.loc['2018-02-22', 'low']

In [ ]:
df.iloc[1, 1]

In [ ]:
# 取多个数据
df.iloc[0:400, 0:5]       # 行号，列索引

In [ ]:
df.loc['2018-02-27':'2018-02-22', ['open','high','close']]      # 行索引的头尾都包了

In [ ]:
df.loc['2018-02-22':'2018-02-27', ['open','high']]          # 没有输出
# 不能按照排序的方式来考虑的时间，因为这里的时间是行索引

In [ ]:
# 赋值操作
# 格式一
df['open'] = 23         # 当前列的值都变为23
df

In [ ]:
# 格式二
df.open = 23.5      # 此方式列名中不能有空格
df

In [ ]:
# 排序操作
# 格式：sort_values()
# ascending 参数 为True 为升序    False为降序    默认为True
# by 参数 为按哪一列进行排序
df.sort_values(by='open', ascending=False)

In [ ]:
df.sort_values(by=['high','low'], ascending=[False,True])

In [ ]:
df.sort_index(ascending=True)

In [ ]:
df.open.sort_values()       # 对df的open进行排序

In [ ]:
df.open.sort_values(ascending=False)

In [47]:
# 基本元素算术运算
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

In [49]:
df.open + 10

2018-02-27    33.53
2018-02-26    32.80
2018-02-23    32.88
2018-02-22    32.25
2018-02-14    31.49
              ...
2015-03-06    23.17
2015-03-05    22.88
2015-03-04    22.80
2015-03-03    22.52
2015-03-02    22.25
Name: open, Length: 643, dtype: float64

In [50]:
df.high - 10

2018-02-27    15.88
2018-02-26    13.78
2018-02-23    13.37
2018-02-22    12.76
2018-02-14    11.99
              ...
2015-03-06     4.48
2015-03-05     3.45
2015-03-04     2.92
2015-03-03     3.06
2015-03-02     2.67
Name: high, Length: 643, dtype: float64

In [51]:
df.open.add(2)

2018-02-27    25.53
2018-02-26    24.80
2018-02-23    24.88
2018-02-22    24.25
2018-02-14    23.49
              ...
2015-03-06    15.17
2015-03-05    14.88
2015-03-04    14.80
2015-03-03    14.52
2015-03-02    14.25
Name: open, Length: 643, dtype: float64

In [52]:
df.open.sub(2)

2018-02-27    21.53
2018-02-26    20.80
2018-02-23    20.88
2018-02-22    20.25
2018-02-14    19.49
              ...
2015-03-06    11.17
2015-03-05    10.88
2015-03-04    10.80
2015-03-03    10.52
2015-03-02    10.25
Name: open, Length: 643, dtype: float64

In [54]:
# 逻辑运算      & 、 /
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

In [55]:
df[df.open > 23]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [59]:
df[(df.open > 23) & (df.open < 40)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [61]:
# 等价于
df.query('open > 20 & open < 40')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-04-20,21.70,22.78,21.27,20.24,180490.12,-0.79,-3.58,22.784,21.006,18.455,202667.73,176144.03,135158.14,6.18
2015-04-17,22.60,23.97,22.06,21.80,206773.17,-0.91,-3.96,22.756,20.545,18.159,200934.24,167291.31,129973.64,7.08
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57
2015-04-14,21.45,23.24,23.24,21.45,154693.44,2.11,9.99,20.368,18.494,16.982,156064.66,121417.14,114763.57,5.30

In [ ]:
df.query('open > 20 | open < 40')

In [74]:
# 筛选固定值  isin
# 隐式转换 小类型转为大类型不会造成精度丢失  小类型 int  大类型 float
#   int 转为 float 可以隐式转换
#   float 转为 int  要用显式转换
df[df.open.isin([22, 23])]

AttributeError: 'Series' object has no attribute 'isnotin'

In [67]:
df.query('open == 23.53 | open == 22.88')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

In [72]:
df.query('open in[23.53, 22.88]')
# 等价于
# df.query('open.isin([23.53, 22.88])')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

In [73]:
df.query('open not in[23.53, 22.88]')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
2018-02-13,21.40,21.90,21.48,21.31,30802.45,0.28,1.32,21.342,22.103,23.387,39694.65,45518.14,65161.68,0.77
2018-02-12,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,44645.16,45679.94,68686.33,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

In [75]:
df.describe()       # 可以查看出数据的质量，数据的特征

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
count,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000
mean,21.272706,21.900513,21.336267,20.771835,99905.519114,0.018802,0.190280,21.302362,21.267656,21.200946,100008.642691,100287.542177,100797.518398,2.936190
std,3.930973,4.077578,3.942806,3.791968,73879.119354,0.898476,4.079698,3.880640,3.813602,3.686186,62761.578326,56759.082060,50101.575639,2.079375
min,12.250000,12.670000,12.360000,12.200000,1158.120000,-3.520000,-10.030000,12.520000,12.520000,12.520000,10804.740000,19130.510000,23311.000000,0.040000
25%,19.000000,19.500000,19.045000,18.525000,48533.210000,-0.390000,-1.850000,18.990000,19.102000,19.275000,55794.985000,59861.955000,64103.675000,1.360000
50%,21.440000,21.970000,21.450000,20.980000,83175.930000,0.050000,0.260000,21.504000,21.623000,21.530000,86133.330000,89234.970000,96291.730000,2.500000
75%,23.400000,24.065000,23.415000,22.850000,127580.055000,0.455000,2.305000,23.318000,23.098500,23.136000,127655.655000,124693.255000,124001.015000,3.915000
max,34.990000,36.350000,35.210000,34.010000,501915.410000,3.030000,10.030000,33.696000,32.186000,29.998000,404443.540000,360028.160000,269280.790000,12.560000

In [76]:
df.sum()        # 针对每一列，进行求和操作

open            1.367835e+04
high            1.408203e+04
close           1.371922e+04
low             1.335629e+04
volume          6.423925e+07
price_change    1.209000e+01
p_change        1.223500e+02
ma5             1.369742e+04
ma10            1.367510e+04
ma20            1.363221e+04
v_ma5           6.430556e+07
v_ma10          6.448489e+07
v_ma20          6.481280e+07
turnover        1.887970e+03
dtype: float64

In [77]:
df.mean()

open                21.272706
high                21.900513
close               21.336267
low                 20.771835
volume           99905.519114
price_change         0.018802
p_change             0.190280
ma5                 21.302362
ma10                21.267656
ma20                21.200946
v_ma5           100008.642691
v_ma10          100287.542177
v_ma20          100797.518398
turnover             2.936190
dtype: float64

In [78]:
df.cumsum()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,46.33,49.66,47.69,46.33,156563.14,1.32,5.70,45.348,44.097,45.817,94610.16,89474.99,111583.61,3.92
2018-02-23,69.21,73.03,70.51,69.04,209477.15,1.86,8.12,67.286,66.026,68.839,129729.74,131346.96,167956.46,5.24
2018-02-22,91.46,95.79,92.79,91.06,245582.16,2.22,9.76,88.732,87.935,91.976,165127.32,171251.74,228106.06,6.14
2018-02-14,112.95,117.78,114.71,112.54,268913.20,2.66,11.81,110.098,109.858,115.229,198717.53,214187.48,289822.17,6.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,13627.90,14029.93,13667.94,13306.09,63843629.62,11.13,114.70,13646.762,13624.446,13581.551,63891866.13,64071198.50,64399113.21,1874.42
2015-03-05,13640.78,14043.38,13681.10,13318.96,63936810.01,11.39,116.72,13659.582,13637.266,13594.371,63990770.92,64170103.29,64498018.00,1877.61
2015-03-04,13653.58,14056.30,13694.00,13331.57,64003885.45,11.59,118.29,13672.289,13649.973,13607.078,64091583.85,64270916.22,64598830.93,1879.91
2015-03-03,13666.10,14069.36,13706.70,13344.09,64142957.06,11.77,119.73,13684.899,13662.583,13619.688,64209265.52,64388597.89,64716512.60,1884.67
2015-03-02,13678.35,14082.03,13719.22,13356.29,64239248.79,12.09,122.35,13697.419,13675.103,13632.208,64305557.25,64484889.62,64812804.33,1887.97

In [80]:
df.min()

open               12.25
high               12.67
close              12.36
low                12.20
volume           1158.12
price_change       -3.52
p_change          -10.03
ma5                12.52
ma10               12.52
ma20               12.52
v_ma5           10804.74
v_ma10          19130.51
v_ma20          23311.00
turnover            0.04
dtype: float64

In [81]:
# 自定义函数
# 目前使用的都是pandas已经提供好的函数，sum、max、min
# 要传入一组数据，按照自身业务规则进行运算，apply函数！！！
# 格式：df.apply(自定义函数， axis=0)  0列    1行

In [ ]:
# 需求：同时获取多个列的最大值和最小值  open列    close列

In [82]:
df.open.max()
# df.open.min()
# df.open.max() - df.open.min()

22.740000000000002

In [83]:
# 自定义函数
def my_func(col):
    return col.max() - col.min()

In [87]:
# 获取到了高和低分别最大值与最小值的差
df[['high', 'low']].apply(my_func, axis=0)    #  0:列

high    23.68
low     21.81
dtype: float64

In [89]:
df[['high','low']].apply(lambda col: col.max() - col.min())

high    23.68
low     21.81
dtype: float64

In [97]:
# 获取
print(type(df[['high']]))
df[['high']].apply(lambda col: col.max() - col.min())

<class 'pandas.core.frame.DataFrame'>

high    23.68
dtype: float64

In [99]:
print(type(df['high']))
df['high'].apply(lambda col: col.max() - col.min())
# df['high'].apply(lambda col: print(col))

<class 'pandas.core.series.Series'>
25.88
23.78
23.37
22.76
21.99
21.9
21.4
21.46
22.09
23.11
23.55
23.39
22.7
23.86
23.98
24.08
24.63
24.74
24.99
26.28
25.53
25.4
25.34
24.88
24.92
24.6
24.23
25.15
23.85
24.6
24.78
24.95
25.4
25.07
22.83
22.54
22.46
22.84
22.57
22.66
22.93
23.39
23.5
23.96
23.66
23.49
23.4
23.77
24.38
24.14
22.94
22.9
22.48
22.1
23.26
24.15
24.49
24.76
24.8
24.9
24.95
24.7
25.43
25.9
25.98
25.58
28.15
28.72
29.3
29.89
29.23
28.99
29.09
29.7
29.37
28.74
29.62
31.8
34.34
35.22
34.4
33.2
32.7
30.45
28.75
31.16
29.83
27.2
26.41
25.88
26.48
26.54
26.51
27.37
27.49
28.22
27.88
28.1
29.01
26.66
26.16
27.18
28.48
26.08
26.52
26.66
27.76
27.1
27.85
28.55
27.55
27.47
26.9
24.88
24.32
24.45
25.5
25.88
24.6
23.85
23.7
23.6
23.25
24.06
24.98
22.88
22.98
22.05
22.07
21.68
21.56
22.09
22.2
21.62
21.8
21.97
22.27
22.46
22.49
23.18
22.9
23.36
23.39
23.92
24.2
23.79
23.98
23.1
22.86
21.58
22.66
24.29
23.6
23.95
24.0
23.44
21.44
21.19
21.14
21.99
22.14
21.74
21.94
22.37
23.24
23.87
24.47
25.93
23.84
24.45
22.85
21.78
20.35
19.91
19.35
18.8
19.2
19.5
19.44
18.8
18.94
18.19
18.24
18.25
17.95
17.15
17.41
17.99
18.06
18.07
18.09
18.29
17.71
17.76
17.97
18.35
18.8
18.83
18.85
19.24
19.35
19.65
19.76
19.5
18.92
19.0
19.05
19.58
19.74
20.16
21.53
21.78
21.54
21.42
21.8
22.66
20.86
21.4
22.36
21.26
21.58
19.96
20.17
19.94
19.84
20.27
20.17
20.16
20.24
20.55
20.62
20.78
20.78
20.87
21.2
20.99
21.29
21.19
21.38
21.94
22.2
22.44
22.08
22.48
21.87
21.93
22.18
22.82
21.39
21.7
21.8
22.26
22.38
22.29
21.49
20.98
20.81
20.82
21.1
21.2
21.09
19.28
19.37
19.24
19.44
19.36
19.2
18.88
18.99
18.88
19.95
20.49
20.83
20.34
20.45
20.56
20.5
20.4
19.96
19.68
19.99
20.43
19.73
19.87
19.9
20.48
20.42
18.62
18.48
18.68
18.85
18.86
18.5
19.15
19.92
20.99
21.39
21.32
21.38
21.38
21.59
21.7
22.37
25.1
25.52
24.98
25.23
25.3
25.4
24.79
24.5
23.39
23.65
23.51
23.99
24.6
24.75
24.2
24.28
24.56
23.58
21.98
21.34
21.4
21.56
21.35
22.09
22.2
22.75
23.25
22.47
21.9
21.75
21.85
20.98
19.9
21.1
21.53
21.5
20.96
21.31
22.1
22.06
22.3
22.77
24.06
24.8
24.94
24.07
23.48
23.8
22.86
20.94
21.3
21.87
21.95
22.03
22.38
22.41
22.4
22.6
23.04
22.78
23.0
22.38
21.6
21.25
21.5
21.7
21.55
22.7
22.0
22.45
21.12
21.22
21.74
22.14
23.35
22.78
21.98
20.8
19.53
18.73
18.3
18.52
18.79
17.73
17.89
17.95
18.5
19.5
18.66
16.96
15.51
15.55
14.97
15.41
15.6
15.77
15.75
16.15
16.71
15.2
14.6
14.93
15.39
16.61
16.75
16.58
16.59
16.18
16.36
16.7
15.71
15.19
15.9
15.25
14.53
14.71
14.28
14.21
14.21
14.69
15.88
16.15
15.81
16.2
16.38
16.25
15.72
16.1
16.0
15.88
16.1
17.24
18.57
19.7
20.28
21.15
22.84
23.38
21.96
22.27
23.4
23.3
24.05
24.44
24.1
24.8
24.66
23.35
22.65
22.66
22.31
22.39
23.36
21.87
21.93
22.15
21.88
21.32
21.37
22.0
21.98
23.43
24.08
24.15
23.75
24.61
24.49
24.26
26.28
27.69
26.28
26.35
24.64
25.1
24.79
23.11
22.65
23.15
21.99
21.33
21.3
21.0
21.36
22.12
22.18
23.46
22.43
20.39
20.5
20.39
20.7
21.0
20.2
19.9
18.5
17.18
16.33
16.5
15.85
16.0
15.28
15.95
15.7
15.45
15.19
14.57
14.4
15.35
14.65
14.25
16.64
16.07
15.28
14.88
13.98
13.38
14.11
14.78
16.2
16.46
16.5
18.35
17.29
20.4
21.9
22.67
21.0
22.4
22.49
22.83
21.54
20.64
20.12
19.65
17.99
17.98
18.36
17.35
17.39
18.4
19.74
19.5
20.2
23.65
24.55
24.26
22.5
21.49
21.49
21.97
22.3
23.04
26.99
27.9
25.61
25.8
25.13
26.98
27.5
28.5
28.5
28.8
30.98
32.89
32.2
33.48
34.99
35.98
34.98
36.35
33.34
30.9
28.35
27.55
28.5
28.59
27.79
26.58
27.95
29.66
30.3
30.3
30.99
28.22
25.65
23.69
24.45
22.51
22.59
21.21
21.47
20.84
20.18
19.6
21.0
22.48
22.55
22.8
22.54
23.1
23.65
21.82
22.4
22.3
21.97
22.78
23.97
25.21
25.56
23.24
21.3
19.89
19.89
18.53
17.98
16.77
16.5
16.48
16.88
16.63
15.86
15.35
15.97
16.16
15.56
15.48
15.64
15.66
15.44
15.05
14.5
14.8
15.08
14.8
14.85
14.48
13.45
12.92
13.06
12.67

2018-02-27    None
2018-02-26    None
2018-02-23    None
2018-02-22    None
2018-02-14    None
              ...
2015-03-06    None
2015-03-05    None
2015-03-04    None
2015-03-03    None
2015-03-02    None
Name: high, Length: 643, dtype: object