In [1]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [6]:
# index_col 表示读取时是否把原索引也读进来
data = pd.read_csv('./data/csv示例文件.csv', encoding="gbk",index_col=0)

In [7]:
# 2.导包
from sqlalchemy import create_engine        # 导入引擎对象
# 3.创建引擎对象
engine = create_engine('mysql+pymysql://root:gang@127.0.0.1:3306/ai24?charset=utf8')

# 4.具体向数据库中写入数据
# if_exists 如果数据表存在，则如何处理这些数据 append 追加 replace 覆盖
#               表名     连接条件   是否带索引
data.to_sql('my_table', engine, index=False, if_exists='append')
print('写入成功!')

写入成功!

In [8]:
# 从 mysql 表中读取数据
pd.read_sql('my_table', engine)

     birthday name   AKA
0    1960/5/7  刘海柱  职业法师
1    1978/9/1  赵金龙   大力哥
2  1984/12/27  周立齐  窃格瓦拉
3   1969/1/24   于谦  相声皇后

In [9]:
pd.read_sql('select name,birthday,AKA from my_table limit 2', engine)

  name  birthday   AKA
0  刘海柱  1960/5/7  职业法师
1  赵金龙  1978/9/1   大力哥