In [1]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [3]:
df = pd.read_csv(r"./data/1960-2019全球GDP数据.csv", encoding='gbk')
df2 = df.head()

In [4]:
df3 = df[:5].copy()
df3

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [6]:
# 1.新增列
# 方式一：通过直接赋值的方式新增1列（固定值写法）
df3['c1'] = 2
df3

   year country           GDP  c1
0  1960      美国  543300000000   2
1  1960      英国   73233967692   2
2  1960      法国   62225478000   2
3  1960      中国   59716467625   2
4  1960      日本   44307342950   2

In [7]:
# 方式一：通过直接赋值的方式新增1列（传入列表）
df3['c2'] = ['戏剧','电影','音乐','舞蹈','曲艺']
df3

   year country           GDP  c1  c2
0  1960      美国  543300000000   2  戏剧
1  1960      英国   73233967692   2  电影
2  1960      法国   62225478000   2  音乐
3  1960      中国   59716467625   2  舞蹈
4  1960      日本   44307342950   2  曲艺

In [8]:
# 方式一：通过直接赋值的方式新增1列（使用已有的列增加）
df3['c3'] = df.year + 10
df3

   year country           GDP  c1  c2    c3
0  1960      美国  543300000000   2  戏剧  1970
1  1960      英国   73233967692   2  电影  1970
2  1960      法国   62225478000   2  音乐  1970
3  1960      中国   59716467625   2  舞蹈  1970
4  1960      日本   44307342950   2  曲艺  1970

In [9]:
# 方式一：通过直接赋值的方式新增1列（通过函数计算来增加新的列）
def my_fun():
    return 300
df3['c4'] = my_fun()
df3

   year country           GDP  c1  c2    c3   c4
0  1960      美国  543300000000   2  戏剧  1970  300
1  1960      英国   73233967692   2  电影  1970  300
2  1960      法国   62225478000   2  音乐  1970  300
3  1960      中国   59716467625   2  舞蹈  1970  300
4  1960      日本   44307342950   2  曲艺  1970  300

In [10]:
# 方式二：通过 assign() 的增加1列
df3.assign(c5='hello')

   year country           GDP  c1  c2    c3   c4     c5
0  1960      美国  543300000000   2  戏剧  1970  300  hello
1  1960      英国   73233967692   2  电影  1970  300  hello
2  1960      法国   62225478000   2  音乐  1970  300  hello
3  1960      中国   59716467625   2  舞蹈  1970  300  hello
4  1960      日本   44307342950   2  曲艺  1970  300  hello

In [11]:
# 方式二：通过 assign() 的增加 n 列
df3.assign(
    c11 = 1,
    c22 = 'a',
    c33 = 'b',
    c44 = 'Bom',
    c55 = my_fun()
)

   year country           GDP  c1  c2    c3   c4  c11 c22 c33  c44  c55
0  1960      美国  543300000000   2  戏剧  1970  300    1   a   b  Bom  300
1  1960      英国   73233967692   2  电影  1970  300    1   a   b  Bom  300
2  1960      法国   62225478000   2  音乐  1970  300    1   a   b  Bom  300
3  1960      中国   59716467625   2  舞蹈  1970  300    1   a   b  Bom  300
4  1960      日本   44307342950   2  曲艺  1970  300    1   a   b  Bom  300