In [1]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [18]:
df = pd.read_csv(r"./data/1960-2019全球GDP数据.csv", encoding='gbk')
df1 = df[:10].copy()
df1

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
5  1960     加拿大   40461721692
6  1960     意大利   40385288344
7  1960      印度   37029883875
8  1960    澳大利亚   18577668271
9  1960      瑞典   15822585033

In [6]:
# 删除行  -->    drop 函数
df1.drop(index=0, inplace=True)

In [7]:
df1

   year country          GDP
1  1960      英国  73233967692
2  1960      法国  62225478000
3  1960      中国  59716467625
4  1960      日本  44307342950
5  1960     加拿大  40461721692
6  1960     意大利  40385288344
7  1960      印度  37029883875
8  1960    澳大利亚  18577668271
9  1960      瑞典  15822585033

In [8]:
# 删除列  -->    del关键字， 直接会修改原数据
del df1['year']
df1

  country          GDP
1      英国  73233967692
2      法国  62225478000
3      中国  59716467625
4      日本  44307342950
5     加拿大  40461721692
6     意大利  40385288344
7      印度  37029883875
8    澳大利亚  18577668271
9      瑞典  15822585033

In [9]:
# 删除列 drop
df1.drop(columns=['GDP'], inplace=True)
df1

  country
1      英国
2      法国
3      中国
4      日本
5     加拿大
6     意大利
7      印度
8    澳大利亚
9      瑞典

In [19]:
df2 = df[:5].copy()
df2

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [20]:
df2 = pd.concat([df2,df2])        # 连接
df2

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [13]:
df2.drop_duplicates(inplace=True)       # 整体的数据去重
df2

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [23]:
# Series 去重  -->  以列为单位进行比较
#       Series 去重 使用 inplace 参数 不会影响DataFrame 对象 所以不会影响df2
df3 = df2.year.drop_duplicates()               # 对某一列的数据进行去重
df3

0    1960
Name: year, dtype: int64

In [26]:
df2.year.drop_duplicates(inplace=True)
df2

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950