In [1]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [4]:
df = pd.read_csv(r"./data/1960-2019全球GDP数据.csv", encoding='gbk')
df1 = df[:5].copy()
df1

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [5]:
df1['c1'] = 34
df1

   year country           GDP  c1
0  1960      美国  543300000000  34
1  1960      英国   73233967692  34
2  1960      法国   62225478000  34
3  1960      中国   59716467625  34
4  1960      日本   44307342950  34

In [6]:
# 修改GDP值
df1['year'] = [2025,2025,2025,2025,2025]
df1

   year country           GDP  c1
0  2025      美国  543300000000  34
1  2025      英国   73233967692  34
2  2025      法国   62225478000  34
3  2025      中国   59716467625  34
4  2025      日本   44307342950  34

In [9]:
# 采用 replace()
df1.country.replace('美国','漂亮国',inplace=True)
df1

C:\Users\LG\AppData\Local\Temp\ipykernel_20076\2606908683.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.country.replace('美国','漂亮国',inplace=True)

   year country           GDP  c1
0  2025     美丽国  543300000000  34
1  2025      英国   73233967692  34
2  2025      法国   62225478000  34
3  2025      中国   59716467625  34
4  2025      日本   44307342950  34

In [10]:
df1.country.replace('日本','小日子',inplace=True)
df1

C:\Users\LG\AppData\Local\Temp\ipykernel_20076\1638393248.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.country.replace('日本','小日子',inplace=True)

   year country           GDP  c1
0  2025     美丽国  543300000000  34
1  2025      英国   73233967692  34
2  2025      法国   62225478000  34
3  2025      中国   59716467625  34
4  2025     小日子   44307342950  34

In [11]:
# 查询 & 排序
# 查询方式一：使用列名来获取数据
df1['year']

0    2025
1    2025
2    2025
3    2025
4    2025
Name: year, dtype: int64

In [12]:
df1[['year','GDP']]

   year           GDP
0  2025  543300000000
1  2025   73233967692
2  2025   62225478000
3  2025   59716467625
4  2025   44307342950

In [13]:
# 查询方式二：行索引值来获取数据
df1[:2]

   year country           GDP  c1
0  2025     美丽国  543300000000  34
1  2025      英国   73233967692  34

In [14]:
df1[0:2:2]

   year country           GDP  c1
0  2025     美丽国  543300000000  34

In [16]:
# 查询方式三：通过query函数来实现获取数据
df1.query('country in ["中国", "法国", "英国"] and year in [2025]')

   year country          GDP  c1
1  2025      英国  73233967692  34
2  2025      法国  62225478000  34
3  2025      中国  59716467625  34

In [19]:
df1.query('country in ["中国", "法国", "英国"] and GDP < 60000000000')

   year country          GDP  c1
3  2025      中国  59716467625  34

In [21]:
# 排序
df1.sort_index(ascending=False)

   year country           GDP  c1
4  2025     小日子   44307342950  34
3  2025      中国   59716467625  34
2  2025      法国   62225478000  34
1  2025      英国   73233967692  34
0  2025     美丽国  543300000000  34

In [26]:
# year 降序       GDP升序
df1.sort_values(['year', 'GDP'], ascending=[False,True])

   year country           GDP  c1
4  2025     小日子   44307342950  34
3  2025      中国   59716467625  34
2  2025      法国   62225478000  34
1  2025      英国   73233967692  34
0  2025     美丽国  543300000000  34

In [28]:
# rank 类似于SQL的开窗函数
my_data = pd.DataFrame(
    {
        '姓名': ['张三','李四', '王五', '赵六'],
        '成绩': [100,90,90,80]
    }
)
my_data

   姓名   成绩
0  张三  100
1  李四   90
2  王五   90
3  赵六   80

In [33]:
'''
    method：排名评分的计算方式，固定值参数，常用固定值如下：
        - average : 默认值，排名评分不连续；数值相同的评分一致，都为平均值
        - min : 排名评分不连续；数值相同的评分一致，都为最小值
        - max : 排名评分不连续；数值相同的评分一致，都为最大值
        - dense : 排名评分是连续的；数值相同的评分一致
'''
my_data['成绩排名_min'] = my_data.成绩.rank(method='min', ascending=False)
my_data

   姓名   成绩  成绩排名_min
0  张三  100       1.0
1  李四   90       2.0
2  王五   90       2.0
3  赵六   80       4.0

In [36]:
my_data['成绩排名_max'] = my_data.成绩.rank(method='max', ascending=False)
my_data['成绩排名_avg'] = my_data.成绩.rank(method='average', ascending=False)
my_data['成绩排名_dense'] = my_data.成绩.rank(method='dense', ascending=False)
my_data['成绩排名_默认'] = my_data.成绩.rank(ascending=False)
my_data

   姓名   成绩  成绩排名_min  成绩排名_max  成绩排名_avg  成绩排名_默认  成绩排名_dense
0  张三  100       1.0       1.0       1.0      1.0         1.0
1  李四   90       2.0       3.0       2.5      2.5         2.0
2  王五   90       2.0       3.0       2.5      2.5         2.0
3  赵六   80       4.0       4.0       4.0      4.0         3.0