In [1]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [3]:
df = pd.read_csv(r"./data/1960-2019全球GDP数据.csv", encoding='gbk')
df1 = df[:5]
df1

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [4]:
df2 = df[5:10]
df2

   year country          GDP
5  1960     加拿大  40461721692
6  1960     意大利  40385288344
7  1960      印度  37029883875
8  1960    澳大利亚  18577668271
9  1960      瑞典  15822585033

In [5]:
# axis = 0      列合并（垂直合并）     默认是列合并
pd.concat([df1,df2],axis=0)

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
5  1960     加拿大   40461721692
6  1960     意大利   40385288344
7  1960      印度   37029883875
8  1960    澳大利亚   18577668271
9  1960      瑞典   15822585033

In [6]:
# axis = 1      行合并（水平合并）
pd.concat([df1,df2],axis=1)         # 没有连接条件，你走你的，我走我的

     year country           GDP    year country           GDP
0  1960.0      美国  5.433000e+11     NaN     NaN           NaN
1  1960.0      英国  7.323397e+10     NaN     NaN           NaN
2  1960.0      法国  6.222548e+10     NaN     NaN           NaN
3  1960.0      中国  5.971647e+10     NaN     NaN           NaN
4  1960.0      日本  4.430734e+10     NaN     NaN           NaN
5     NaN     NaN           NaN  1960.0     加拿大  4.046172e+10
6     NaN     NaN           NaN  1960.0     意大利  4.038529e+10
7     NaN     NaN           NaN  1960.0      印度  3.702988e+10
8     NaN     NaN           NaN  1960.0    澳大利亚  1.857767e+10
9     NaN     NaN           NaN  1960.0      瑞典  1.582259e+10

In [8]:
# 满外连接   ：   左表全集 + 右表全集 + 交集
pd.concat([df1,df2],axis=1,join='outer')

     year country           GDP    year country           GDP
0  1960.0      美国  5.433000e+11     NaN     NaN           NaN
1  1960.0      英国  7.323397e+10     NaN     NaN           NaN
2  1960.0      法国  6.222548e+10     NaN     NaN           NaN
3  1960.0      中国  5.971647e+10     NaN     NaN           NaN
4  1960.0      日本  4.430734e+10     NaN     NaN           NaN
5     NaN     NaN           NaN  1960.0     加拿大  4.046172e+10
6     NaN     NaN           NaN  1960.0     意大利  4.038529e+10
7     NaN     NaN           NaN  1960.0      印度  3.702988e+10
8     NaN     NaN           NaN  1960.0    澳大利亚  1.857767e+10
9     NaN     NaN           NaN  1960.0      瑞典  1.582259e+10

In [9]:
# 内连接  ：  只要交集
pd.concat([df1,df2],axis=1,join='inner')

Empty DataFrame
Columns: [year, country, GDP, year, country, GDP]
Index: []

In [25]:
df1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                        'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})

In [28]:
df1

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [29]:
df2

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [18]:
# 默认内连接
# result = pd.merge(df1, df2, on=['key1', 'key2'])
pd.merge(df1, df2, how='inner', on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [19]:
pd.merge(df1, df2, how='inner', on='key2')

  key1_x key2   A   B key1_y   C   D
0     K0   K0  A0  B0     K0  C0  D0
1     K0   K0  A0  B0     K1  C1  D1
2     K0   K0  A0  B0     K1  C2  D2
3     K0   K0  A0  B0     K2  C3  D3
4     K1   K0  A2  B2     K0  C0  D0
5     K1   K0  A2  B2     K1  C1  D1
6     K1   K0  A2  B2     K1  C2  D2
7     K1   K0  A2  B2     K2  C3  D3

In [21]:
pd.merge(df1, df2, how='outer', on=['key1','key2'])     # 类似于union all

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K0  NaN  NaN   C3   D3
5   K2   K1   A3   B3  NaN  NaN

In [22]:
pd.merge(df1, df2, how='inner', on='key1')

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K0     K1  A1  B1     K0  C0  D0
2   K1     K0  A2  B2     K0  C1  D1
3   K1     K0  A2  B2     K0  C2  D2
4   K2     K1  A3  B3     K0  C3  D3

In [31]:
pd.merge(df1, df2, how='inner', on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [26]:
pd.merge(df1, df2, how='left', on='key1')

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K0     K1  A1  B1     K0  C0  D0
2   K1     K0  A2  B2     K0  C1  D1
3   K1     K0  A2  B2     K0  C2  D2
4   K2     K1  A3  B3     K0  C3  D3

In [27]:
pd.merge(df1, df2, how='right', on='key1')

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K0     K1  A1  B1     K0  C0  D0
2   K1     K0  A2  B2     K0  C1  D1
3   K1     K0  A2  B2     K0  C2  D2
4   K2     K1  A3  B3     K0  C3  D3