In [1]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [3]:
# 1.获取优衣库数据
df = pd.read_csv("./data/uniqlo.csv")
df

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22293 entries, 0 to 22292
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      22293 non-null  int64
 1   city          22293 non-null  object
 2   channel       22293 non-null  object
 3   gender_group  22293 non-null  object
 4   age_group     22293 non-null  object
 5   wkd_ind       22293 non-null  object
 6   product       22293 non-null  object
 7   customer      22293 non-null  int64
 8   revenue       22293 non-null  float64
 9   order         22293 non-null  int64
 10  quant         22293 non-null  int64
 11  unit_cost     22293 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 2.0+ MB

In [5]:
df.describe()

,store_id,customer,revenue,order,quant,unit_cost
count,22293.000000,22293.000000,22293.000000,22293.000000,22293.000000,22293.000000
mean,335.391558,1.629480,159.531371,1.651998,1.858072,46.124658
std,230.236167,1.785605,276.254066,1.861480,2.347301,19.124347
min,19.000000,1.000000,-0.660000,1.000000,1.000000,9.000000
25%,142.000000,1.000000,64.000000,1.000000,1.000000,49.000000
50%,315.000000,1.000000,99.000000,1.000000,1.000000,49.000000
75%,480.000000,2.000000,175.000000,2.000000,2.000000,49.000000
max,831.000000,58.000000,12538.000000,65.000000,84.000000,99.000000

In [29]:
# 2.分组聚合

# 场景一：按照单列进行分组
df.groupby(['city'])        # 格式一 函数定义格式()
df.groupby('city')        # 格式二

# df.groupby(['city']).first()
df.groupby(['city'])

In [8]:
# 场景二：按照多列进行分组
df.groupby(['city','revenue'])          # 多列分组不能省略 []

# 变形写法
df.groupby('city').revenue

In [22]:
# 场景三：如何获取某个分组的数据
# df.groupby(['city','channel']).get_group(('北京','线下'))
df.groupby(['city','channel']).get_group(('深圳','线下'))

TypeError: BaseGroupBy.get_group() missing 1 required positional argument: 'name'

In [18]:
# 场景四：分组+聚合 (聚合字段只有一个)
# 需求：求各个城市不同渠道的总销售金额
#   格式 df.groupby(字段).agg(字段名:聚合函数)
# agg 是 aggregate 的缩写   聚合函数
# df.groupby(['city','channel']).agg({'revenue':'sum'})

# 变形写法
# df.groupby(['city','channel']).revenue.sum()
df.groupby(['city','channel'])['revenue'].sum()
df.groupby(['city','channel'])[['revenue']].sum()

city  channel
上海    线上         114438.09
      线下         275383.64
北京    线下         130458.62
南京    线下         123150.93
广州    线上         200893.30
      线下         117231.19
成都    线下         208189.86
杭州    线下         589518.49
武汉    线上         281420.73
      线下         308357.05
深圳    线下         733123.68
西安    线上          30088.01
      线下         180686.61
重庆    线上          26330.35
      线下         237162.30
Name: revenue, dtype: float64

In [15]:
# 场景五：分组+聚合（聚合有两个字段 ---> 聚合操作相同）
df.groupby(['city','channel']).agg({'revenue':'sum','order':'sum'})

# 变形写法
df.groupby(['city','channel'])[['revenue','order']].sum()

                revenue  order
city channel
上海   线上       114438.09   1237
     线下       275383.64   2800
北京   线下       130458.62   1303
南京   线下       123150.93   1113
广州   线上       200893.30   2115
     线下       117231.19   1277
成都   线下       208189.86   2263
杭州   线下       589518.49   6196
武汉   线上       281420.73   2895
     线下       308357.05   3101
深圳   线下       733123.68   7475
西安   线上        30088.01    325
     线下       180686.61   1954
重庆   线上        26330.35    251
     线下       237162.30   2523

In [17]:
# 场景六：分组+聚合(聚合有两个字段 --> 聚合操作不相同)
# df.groupby(['city','channel']).agg({'revenue':'mean','order':'sum'})
df.groupby(['city','channel']).agg({'revenue':'mean','order':'max'})

                 revenue  order
city channel
上海   线上       187.603426     37
     线下       154.623043     29
北京   线下       226.098128     18
南京   线下       246.301860     45
广州   线上       153.470817     15
     线下       133.368817     12
成都   线下       136.160798     39
杭州   线下       155.751252     54
武汉   线上       180.977961     37
     线下       153.258971     48
深圳   线下       167.993511     39
西安   线上       128.581239      8
     线下       131.791838     11
重庆   线上       144.672253      6
     线下       147.764673     65

In [24]:
df.groupby(['city']).agg({'order':'max'})

      order
city
上海       37
北京       18
南京       45
广州       15
成都       39
杭州       54
武汉       48
深圳       39
西安       11
重庆       65

In [31]:
# 分组过滤  sql  groupby having         groupby filter
# 需求一：根据城市分组，计算每个城市的销售金额的平均值
df.groupby('city').revenue.mean()
# df.groupby('city').agg({})

city
上海    163.037110
北京    226.098128
南京    246.301860
广州    145.395105
成都    136.160798
杭州    155.751252
武汉    165.342803
深圳    167.993511
西安    131.323751
重庆    147.449720
Name: revenue, dtype: float64

In [32]:
# 需求二：根据城市分组，计算每个城市的销售金额的平均值  筛选大于200的全部数据
# filter 方法是基于组的条件进行筛选的，而不是基于单个值。
#   只要一个组的平均收入大于 200，该组的所有记录都会被保留。这就是为什么返回结果中包含150 的原因。
df.groupby("city").revenue.filter(lambda x:x.mean() > 200)

9        199.0
23       176.0
40       198.0
62       197.0
168      447.0
         ...
22182     79.0
22192    693.0
22251     39.0
22273    288.0
22280     59.0
Name: revenue, Length: 1077, dtype: float64