In [5]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [2]:
# 创建一个示例数据集
data = {
    '性别': ['男', '女', '男', '女', '男', '女', '女', '男'],
    '购买': ['是', '否', '是', '是', '否', '否', '是', '否']
}

df = pd.DataFrame(data)
cpd = pd.crosstab(df['性别'],df['购买'])        # 交叉表
cpd

购买  否  是
性别
女   2  2
男   2  2

In [3]:
# 透视表
#   透视表的作用：简化分组写法
#   透视表的格式：pd.pivot_table(data=,index=,colums=,values=,aggfunc=,margins=)
#   index   分组列作为行索引，可以指定多个列
#   colums  分组列值作为列，可以指定多个列
#   values  传递需要聚合的列，可以指定多个列
#   aggfunc 传递聚合函数，可以使用多个聚合函数
#   margins 是否显示行或者列总计

In [6]:
df = pd.read_csv("./data/uniqlo.csv")
df

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

In [7]:
# 需求:根据城市、销售渠道分组，计算销售金额的总和
#   写法一：groupby+agg
df.groupby(['city','channel']).agg({'revenue':sum})

C:\Users\LG\AppData\Local\Temp\ipykernel_16048\2905188615.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby(['city','channel']).agg({'revenue':sum})

                revenue
city channel
上海   线上       114438.09
     线下       275383.64
北京   线下       130458.62
南京   线下       123150.93
广州   线上       200893.30
     线下       117231.19
成都   线下       208189.86
杭州   线下       589518.49
武汉   线上       281420.73
     线下       308357.05
深圳   线下       733123.68
西安   线上        30088.01
     线下       180686.61
重庆   线上        26330.35
     线下       237162.30

In [11]:
# 写法二：透视表写法
#   参数一：指定分组字段,作为新表索引
#   参数二：指定分组的字段
#   参数三：指定聚合的字段
#   参数四：指定聚合参数
df.pivot_table(index='city',columns='channel',values='revenue',aggfunc='sum')

channel         线上         线下
city
上海       114438.09  275383.64
北京             NaN  130458.62
南京             NaN  123150.93
广州       200893.30  117231.19
成都             NaN  208189.86
杭州             NaN  589518.49
武汉       281420.73  308357.05
深圳             NaN  733123.68
西安        30088.01  180686.61
重庆        26330.35  237162.30

In [12]:
# 传递多个值使用列表 []
df.pivot_table(columns=['city','channel'],values='revenue',aggfunc='sum')

city            上海                    北京         南京        广州             \
channel         线上         线下         线下         线下        线上         线下
revenue  114438.09  275383.64  130458.62  123150.93  200893.3  117231.19

city            成都         杭州         武汉                    深圳        西安  \
channel         线下         线下         线上         线下         线下        线上
revenue  208189.86  589518.49  281420.73  308357.05  733123.68  30088.01

city                      重庆
channel         线下        线上        线下
revenue  180686.61  26330.35  237162.3