In [2]:
# 1.导包
import pandas as pd
import numpy as np
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")

In [3]:
# 创建一个示例数据集
data = {
    '性别': ['男', '女', '男', '女', '男', '女', '女', '男'],
    '购买': ['是', '否', '是', '是', '否', '否', '是', '否']
}

df = pd.DataFrame(data)
cpd = pd.crosstab(df['性别'],df['购买'])        # 交叉表
cpd

购买  否  是
性别
女   2  2
男   2  2

In [3]:
# 透视表
#   透视表的作用：简化分组写法
#   透视表的格式：pd.pivot_table(data=,index=,colums=,values=,aggfunc=,margins=)
#   index   分组列作为行索引，可以指定多个列
#   colums  分组列值作为列，可以指定多个列
#   values  传递需要聚合的列，可以指定多个列    若未指定 values，默认对所有数值列进行聚合。
#   aggfunc 传递聚合函数，可以使用多个聚合函数   # 因为透视表就越是简化分组的，因此聚合函数是必传参数
#   margins 是否显示行或者列总计

In [5]:
df = pd.read_csv("./data/uniqlo.csv")
df

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

In [7]:
# 需求:根据城市、销售渠道分组，计算销售金额的总和
#   写法一：groupby+agg
df.groupby(['city','channel']).agg({'revenue':sum})

C:\Users\LG\AppData\Local\Temp\ipykernel_16048\2905188615.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby(['city','channel']).agg({'revenue':sum})

                revenue
city channel
上海   线上       114438.09
     线下       275383.64
北京   线下       130458.62
南京   线下       123150.93
广州   线上       200893.30
     线下       117231.19
成都   线下       208189.86
杭州   线下       589518.49
武汉   线上       281420.73
     线下       308357.05
深圳   线下       733123.68
西安   线上        30088.01
     线下       180686.61
重庆   线上        26330.35
     线下       237162.30

In [8]:
# 写法二：透视表写法
#   参数一：指定分组字段,作为新表索引
#   参数二：指定分组的字段
#   参数三：指定聚合的字段
#   参数四：指定聚合参数
df.pivot_table(index='city',columns='channel',values='revenue',aggfunc='sum')

channel,线上,线下
age_group,35-3935-39>=6045-4950-5425-2930-3420-2450-5440...,25-2925-29>=6025-2920-2425-29>=6030-3445-4920-...
city,武汉武汉广州广州重庆武汉武汉上海武汉武汉武汉武汉广州重庆广州西安武汉武汉广州西安上海武汉广州...,深圳杭州深圳深圳深圳杭州杭州杭州北京重庆重庆杭州深圳西安深圳杭州重庆深圳重庆西安南京广州深圳...
customer,6745,29581
gender_group,FemaleMaleMaleFemaleFemaleMaleMaleFemaleFemale...,FemaleFemaleMaleFemaleMaleFemaleMaleFemaleFema...
order,6823,30005
product,T恤短裤T恤当季新品短裤T恤短裤T恤T恤当季新品T恤当季新品T恤T恤T恤T恤T恤袜子牛仔裤T...,当季新品运动T恤T恤袜子短裤T恤牛仔裤毛衣配件T恤当季新品T恤T恤短裤袜子T恤牛仔裤T恤短裤...
quant,7652,33770
revenue,653170.48,2903262.37
store_id,685383,6791501
unit_cost,175110,853147
wkd_ind,WeekendWeekendWeekdayWeekdayWeekendWeekendWeek...,WeekdayWeekdayWeekdayWeekdayWeekendWeekendWeek...

In [6]:
# 传递多个值使用列表 []
df.pivot_table(columns=['city','channel'],values='revenue',aggfunc='sum')

city                                                         上海  \
channel                                                      线上
age_group     20-2435-3930-3450-5420-24>=6045-4935-3935-39>=...
customer                                                   1219
gender_group  FemaleFemaleMaleFemaleFemaleFemaleFemaleMaleFe...
order                                                      1237
product       T恤牛仔裤T恤配件T恤配件当季新品T恤牛仔裤裙子当季新品T恤T恤T恤T恤短裤T恤短裤袜子当季...
quant                                                      1393
revenue                                               114438.09
store_id                                                 126270
unit_cost                                                 27980
wkd_ind       WeekendWeekdayWeekdayWeekdayWeekdayWeekdayWeek...

city                                                             \
channel                                                      线下
age_group     30-3425-2920-2450-5435-3930-3420-2430-3445-492...
customer                                                   2754
gender_group  FemaleMaleFemaleFemaleFemaleFemaleFemaleFemale...
order                                                      2800
product       当季新品毛衣当季新品当季新品配件短裤袜子T恤牛仔裤当季新品T恤当季新品T恤袜子T恤当季新品袜...
quant                                                      3212
revenue                                               275383.64
store_id                                                 498871
unit_cost                                                 82359
wkd_ind       WeekendWeekdayWeekdayWeekendWeekendWeekdayWeek...

city                                                         北京  \
channel                                                      线下
age_group     45-4935-3945-4920-2435-3930-3435-3925-2930-342...
customer                                                   1289
gender_group  FemaleFemaleFemaleMaleFemaleFemaleMaleMaleFema...
order                                                      1303
product       毛衣毛衣配件T恤牛仔裤当季新品运动T恤当季新品T恤配件T恤牛仔裤当季新品当季新品T恤T恤袜子...
quant                                                      1477
revenue                                               130458.62
store_id                                                  12117
unit_cost                                                 26163
wkd_ind       WeekendWeekdayWeekendWeekdayWeekendWeekdayWeek...

city                                                         南京  \
channel                                                      线下
age_group     35-3945-4935-3930-3430-3430-3440-4455-59<2025-...
customer                                                   1098
gender_group  FemaleFemaleFemaleFemaleFemaleFemaleFemaleFema...
order                                                      1113
product       T恤毛衣T恤T恤T恤裙子T恤袜子T恤T恤T恤当季新品T恤牛仔裤T恤运动T恤T恤T恤T恤T恤配...
quant                                                      1265
revenue                                               123150.93
store_id                                                   9500
unit_cost                                                 23140
wkd_ind       WeekendWeekdayWeekendWeekendWeekdayWeekdayWeek...

city                                                         广州  \
channel                                                      线上
age_group     >=6045-4935-3920-2430-3425-2930-3455-5935-3930...
customer                                                   2089
gender_group  MaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFe...
order                                                      2115
product       T恤当季新品T恤T恤牛仔裤运动毛衣当季新品裙子袜子T恤T恤运动T恤T恤T恤T恤T恤T恤裙子袜...
quant                                                      2387
revenue                                                200893.3
store_id                                                 427563
unit_cost                                                 59631
wkd_ind       WeekdayWeekdayWeekdayWeekendWeekdayWeekendWeek...

city                                                             \
channel                                                      线下
age_group     35-3930-34>=6035-3930-3440-4440-4450-5435-3940...
customer                                                   1266
gender_group  FemaleMaleFemaleFemaleMaleFemaleFemaleMaleFema...
order                                                      1277
product       T恤当季新品毛衣当季新品T恤T恤T恤短裤T恤袜子短裤袜子裙子运动当季新品当季新品短裤T恤短裤...
quant                                                      1428
revenue                                               117231.19
store_id                                                 296229
unit_cost                                                 41091
wkd_ind       WeekendWeekdayWeekendWeekdayWeekendWeekendWeek...

city                                                         成都  \
channel                                                      线下
age_group     35-3930-3425-2945-4935-3930-3445-4930-3425-293...
customer                                                   2235
gender_group  MaleMaleFemaleFemaleFemaleFemaleMaleFemaleMale...
order                                                      2263
product       裙子T恤T恤当季新品牛仔裤T恤袜子裙子T恤T恤T恤运动当季新品运动配件毛衣运动T恤T恤短裤T...
quant                                                      2524
revenue                                               208189.86
store_id                                                 639696
unit_cost                                                 72041
wkd_ind       WeekendWeekdayWeekdayWeekendWeekdayWeekendWeek...

city                                                         杭州  \
channel                                                      线下
age_group     25-2925-29>=6030-3435-3930-3425-2920-2435-3925...
customer                                                   6120
gender_group  FemaleFemaleMaleFemaleFemaleMaleFemaleFemaleFe...
order                                                      6196
product       运动短裤T恤牛仔裤当季新品袜子T恤短裤袜子当季新品当季新品当季新品配件T恤T恤T恤T恤当季新...
quant                                                      6975
revenue                                               589518.49
store_id                                                1576318
unit_cost                                                173445
wkd_ind       WeekdayWeekendWeekendWeekendWeekendWeekdayWeek...

city                                                         武汉  \
channel                                                      线上
age_group     35-3935-3925-2930-3450-5440-4425-29>=6025-29>=...
customer                                                   2864
gender_group  FemaleMaleMaleMaleFemaleMaleFemaleMaleFemaleMa...
order                                                      2895
product       T恤短裤T恤短裤T恤当季新品T恤当季新品T恤袜子T恤T恤T恤T恤袜子运动当季新品当季新品袜子...
quant                                                      3241
revenue                                               281420.73
store_id                                                  87116
unit_cost                                                 69225
wkd_ind       WeekendWeekendWeekendWeekdayWeekendWeekdayWeek...

city                                                             \
channel                                                      线下
age_group     35-3925-29>=6035-3920-2425-2925-2925-2930-3450...
customer                                                   3034
gender_group  FemaleFemaleMaleFemaleFemaleMaleFemaleMaleFema...
order                                                      3101
product       T恤T恤短裤T恤毛衣当季新品T恤袜子运动T恤配件T恤T恤袜子T恤T恤T恤T恤袜子T恤T恤T恤...
quant                                                      3462
revenue                                               308357.05
store_id                                                 473011
unit_cost                                                 93858
wkd_ind       WeekdayWeekendWeekendWeekendWeekendWeekdayWeek...

city                                                         深圳  \
channel                                                      线下
age_group     25-29>=6025-2920-2430-3430-3435-3930-3435-3925...
customer                                                   7372
gender_group  FemaleMaleFemaleMaleMaleMaleFemaleFemaleFemale...
order                                                      7475
product       当季新品T恤T恤袜子T恤短裤牛仔裤配件T恤当季新品当季新品配件短裤短裤短裤T恤T恤T恤T恤T...
quant                                                      8502
revenue                                               733123.68
store_id                                                1781495
unit_cost                                                201526
wkd_ind       WeekdayWeekdayWeekdayWeekendWeekendWeekendWeek...

city                                                         西安  \
channel                                                      线上
age_group     35-3935-39>=6025-2920-2425-2935-3930-3420-2440...
customer                                                    324
gender_group  FemaleMaleMaleMaleFemaleFemaleFemaleFemaleFema...
order                                                       325
product       T恤T恤短裤T恤袜子牛仔裤当季新品配件配件T恤T恤T恤T恤袜子当季新品毛衣配件配件当季新品运...
quant                                                       351
revenue                                                30088.01
store_id                                                  32058
unit_cost                                                 10246
wkd_ind       WeekdayWeekdayWeekendWeekendWeekdayWeekendWeek...

city                                                             \
channel                                                      线下
age_group     20-2435-39>=6025-29>=6030-3430-3445-4925-2920-...
customer                                                   1930
gender_group  MaleFemaleMaleMaleMaleFemaleFemaleFemaleFemale...
order                                                      1954
product       T恤短裤T恤T恤T恤T恤当季新品配件短裤袜子T恤T恤当季新品运动牛仔裤T恤袜子T恤T恤T恤牛...
quant                                                      2141
revenue                                               180686.61
store_id                                                 723898
unit_cost                                                 64469
wkd_ind       WeekendWeekdayWeekdayWeekendWeekdayWeekendWeek...

city                                                         重庆  \
channel                                                      线上
age_group     50-5425-29>=6050-5435-3920-2425-29>=6030-3430-...
customer                                                    249
gender_group  FemaleFemaleMaleFemaleMaleFemaleFemaleMaleMale...
order                                                       251
product       短裤T恤当季新品配件配件T恤T恤T恤T恤短裤短裤短裤T恤短裤袜子T恤T恤T恤T恤T恤短裤当季...
quant                                                       280
revenue                                                26330.35
store_id                                                  12376
unit_cost                                                  8028
wkd_ind       WeekendWeekdayWeekendWeekdayWeekendWeekendWeek...

city
channel                                                      线下
age_group     20-2420-2430-3425-2925-2930-34>=6020-2420-24Un...
customer                                                   2483
gender_group  MaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFe...
order                                                      2523
product       配件T恤T恤T恤袜子当季新品牛仔裤T恤T恤T恤牛仔裤当季新品裙子配件袜子T恤T恤短裤当季新品...
quant                                                      2784
revenue                                                237162.3
store_id                                                 780366
unit_cost                                                 75055
wkd_ind       WeekendWeekdayWeekendWeekendWeekdayWeekendWeek...