In [8]:
import pandas as pd
import numpy as np
import os
os.chdir(r'E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject\考试3')

In [12]:
df = pd.read_csv('./movie.csv')
# df.info()
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [16]:
#（1）按照导演进行分组，计算每位导演票房收入（gross列）总和
df_gross = df.groupby('director_name').agg({
    'gross':"sum"
})
df_gross

                         gross
director_name
A. Raven Cruz              0.0
Aaron Hann                 0.0
Aaron Schneider      9176553.0
Aaron Seltzer       48546578.0
Abel Ferrara         1227324.0
...                        ...
Zoran Lisinac              0.0
Álex de la Iglesia      3607.0
Émile Gaudreault     6239558.0
Éric Tessier               0.0
Étienne Faure              0.0

[2397 rows x 1 columns]

In [15]:
#（2）对上一步结果进行排序，求出票房前十的导演名称
df_gross.sort_values(by='gross',ascending=False).head(10)

                          gross
director_name
Steven Spielberg   4.114233e+09
Michael Bay        2.195444e+09
Peter Jackson      2.112884e+09
James Cameron      1.948126e+09
Christopher Nolan  1.813228e+09
George Lucas       1.741418e+09
Robert Zemeckis    1.619309e+09
Chris Columbus     1.618708e+09
Tim Burton         1.557079e+09
Sam Raimi          1.478116e+09