In [1]:
import pandas as pd
df = pd.read_csv(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject\data\1960-2019全球GDP数据.csv",encoding='gbk')
df

      year   country           GDP
0     1960        美国  543300000000
1     1960        英国   73233967692
2     1960        法国   62225478000
3     1960        中国   59716467625
4     1960        日本   44307342950
...    ...       ...           ...
9925  2019  圣多美和普林西比     418637388
9926  2019        帕劳     268354919
9927  2019      基里巴斯     194647201
9928  2019        瑙鲁     118223430
9929  2019       图瓦卢      47271463

[9930 rows x 3 columns]