In [1]:
import pandas as pd
import numpy as np

In [5]:
# 1.通过 字典+列表 的方式实现
#   每个键值对 = 1列数据
info = {
    'name': ['张三', '李四', '王五'],
    'gender': ['男', '男', '男'],
    'age': [30, 35 ,51]
}

df1 = pd.DataFrame(data=info)
print(df1)

  name gender  age
0   张三      男   30
1   李四      男   35
2   王五      男   51

In [6]:
# 场景2： 通过 列表+元组 的方式实现
#   每个元组 = 1行数据
info = [
    ('张三','男',36),
    ('李四','男',30),
    ('王五','男',41)
]
df2 = pd.DataFrame(data=info)

In [8]:
info = [
    ('张三','男',36),
    ('李四','男',30),
    ('王五','男',41)
]
# columns 指定列名
df2 = pd.DataFrame(data=info, columns=['姓名', '性别', '年龄'])
df2

   姓名 性别  年龄
0  张三  男  36
1  李四  男  30
2  王五  男  41

In [11]:
# 场景3： 通过 numpy 的 ndarray --> DaraFrame
df3 = pd.DataFrame(np.arange(12).reshape(3, 4))
df3

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df4 = pd.DataFrame()