In [1]:
import pandas as pd
import numpy as np

In [32]:
# 1.生成10名同学，5门功课的数据
score_df = pd.DataFrame(np.random.randint(40, 101, (10, 5)))
score_df

    0   1   2   3   4
0  67  74  78  97  81
1  90  78  75  99  49
2  40  57  79  87  69
3  55  73  44  92  59
4  76  73  61  64  94
5  92  67  78  90  63
6  55  65  43  96  71
7  56  61  81  56  87
8  96  52  72  56  98
9  96  57  76  67  65

In [26]:
column_names = ['语文', '数学', '英语', '物理', '化学']
score_df.columns = column_names
score_df

      语文  数学  英语  物理   化学
同学1   84  60  91  50   82
同学2   71  80  92  49   50
同学3   47  93  91  89   90
同学4   94  60  67  48  100
同学5   93  52  43  63   64
同学6   86  75  93  68   69
同学7   58  42  85  47   93
同学8   84  98  56  91   59
同学9   62  80  60  43   74
同学10  68  43  88  75   83

In [29]:
# [for i in range(1, 13)]       #  问题 ： 如何获取长度
# [i for i in range(len(score_df.index))]

# 获取表序列长度
# 方式一：len(score_df.index)
# print(len(score_df.index))
# 方式二：__len__()  采用魔法方法
# print(score_df.__len__())
# 方式三：score_df.shape[0]
# score_df.shape      # 获取的是表的行和列的数量  以元组的形式
# print(score_df.shape[0])

# print(score_df.size)        # 获取的是所有元素的个数  10行5列  (10*5)  50

index_names = ['同学' + str(i+1) for i in range(score_df.__len__())]
print(index_names)

10
['同学1', '同学2', '同学3', '同学4', '同学5', '同学6', '同学7', '同学8', '同学9', '同学10']

In [16]:
# colum_names 和 index_names 拼接

In [21]:
# 方式一：
score_df.columns = column_names
score_df.index = index_names
score_df

      语文  数学  英语  物理   化学
同学1   84  60  91  50   82
同学2   71  80  92  49   50
同学3   47  93  91  89   90
同学4   94  60  67  48  100
同学5   93  52  43  63   64
同学6   86  75  93  68   69
同学7   58  42  85  47   93
同学8   84  98  56  91   59
同学9   62  80  60  43   74
同学10  68  43  88  75   83

In [30]:
# 方式二：rename 函数 可以实现对值的精准修改
score_df.rename(index={0:'同学1', 1:'同学2'},columns={0:'语文文',1:'数学学'}, inplace=True)
score_df

     语文文  数学学    2   3   4
同学1   95   86   42  61  69
同学2   52   47   44  92  83
2     99   98   95  68  40
3     47   93   94  52  40
4     95   99   56  57  80
5     79   49   93  66  45
6     83   87  100  83  46
7     96   54   46  79  79
8     46   59   50  75  41
9     70   48   56  87  63

In [45]:
score_df.rename(
    index={i:'同学' + str(i+1) for i in range(score_df.__len__())},
    columns={i:'学科' + str(i+1) for i in range(score_df.shape[1])},
    inplace=True
)
score_df

      学科1  学科2  学科3  学科4  学科5
同学1    67   74   78   97   81
同学2    90   78   75   99   49
同学3    40   57   79   87   69
同学4    55   73   44   92   59
同学5    76   73   61   64   94
同学6    92   67   78   90   63
同学7    55   65   43   96   71
同学8    56   61   81   56   87
同学9    96   52   72   56   98
同学10   96   57   76   67   65