In [5]:
# 1.导包
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
# 改变工作目录
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject")
# 解决折线图中中文显示问题
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

# 《movie.csv》

In [7]:
# 读取文件
df = pd.read_csv(r"./data/movie.csv")
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [ ]:
# 1.读取文件，筛选出评分大于 8 且时长超过 120 分钟的电影，按评分降序排序后保存为新的 CSV 文件。
df

In [ ]:
# 2.按电影类型分组，过滤出电影数量少于 50 部的类型，展示这些类型的名称和电影数量。

In [ ]:
# 3.找出每年票房最高的电影及其票房金额，将结果保存为新的 DataFrame。

In [ ]:
# 4.计算每种电影类型的评分标准差，按标准差从大到小排序，取前 3 种类型。

In [ ]:
# 5.筛选出评分在其类型平均分上下 0.5 分范围内的电影，展示这些电影的名称和类型。

In [ ]:
# 6.把电影名称中包含特定关键词（如 “爱情”）的电影数据提取出来，按票房升序排序，保存为新的 CSV 文件。

In [ ]:
# 7.计算每部电影的评分与同类型电影评分中位数的差值，筛选出差值绝对值大于 1 的电影。

In [ ]:
# 8.按导演和电影类型分组，找出每个组内评分最高的电影名称、评分以及票房。

In [ ]:
# 9.按电影类型和导演分组，计算每组电影的平均评分、最高票房和电影数量，筛选出电影数量超过 5 部且平均评分高于 7 分的组合。

In [ ]:
# 10.按电影类型分组，将每年的电影按评分降序排列，取每年评分最高的前 3 部电影，汇总后计算这些电影的总票房。

In [ ]:
# 11.按 Director 分组，筛选出平均评分高于 7 分的导演，并列出他们的名字以及平均评分。

In [ ]:
# 12.按 Director 分组，找出执导电影数量最多的前 5 位导演，并统计他们的电影总票房。

In [ ]:
# 13.按 Director 分组，统计每位导演拍摄不同类型电影的种类数量

# 《1960 - 2019 全球 GDP 数据.csv》

In [ ]:
# 	1.筛选出 2000 年之后（含 2000 年）的数据，计算这些数据中各国家 GDP 的总和。

In [ ]:
# 	2.按国家分组，过滤出 GDP 数据标准差大于 1000000 的国家，显示这些国家的名称和 GDP 标准差。

In [ ]:
# 	3.找出每年 GDP 最高的国家及其对应的 GDP 值，将结果保存为新的 DataFrame。

In [ ]:
# 	4.计算每个国家 GDP 占全球 GDP 总和的比例，按年份分组，找出每年占比最高的前三个国家。

In [3]:
# 	5.把国家名称中包含特定字符（如 “国”）的国家数据提取出来，按 GDP 降序排序，保存为新的 CSV 文件。

# 《uniqlo.csv》

In [4]:
# 1.读取文件，筛选出价格在 50 - 100 元之间且销量大于 100 的商品，按销量降序排序后保存为新的 CSV 文件。

In [4]:
# 2.按商品类别分组，过滤出平均价格低于 30 元的类别，展示这些类别的名称和平均价格。

In [4]:
# 3.找出每月销售额最高的商品及其销售额，将结果保存为新的 DataFrame。

In [4]:
# 4.读取文件后，去除销量为 0 的商品记录，然后计算剩余商品的总销售额。

In [4]:
# 5.计算每件商品的价格与同类别商品价格均值的差值，筛选出差值绝对值大于 50 的商品。