In [1]:
# 1.导包
# 1.1在canda下安装pyecharts
# pip install pyecharts

import time
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from pyecharts.charts import Bar3D
from pyecharts.commons.utils import JsCode
import pyecharts.options as opts
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject\data")

In [5]:
# 2.导入数据
sheet_names = ['2015','2016','2017','2018','会员等级',]
# sheet_name: str | int | list[IntStrT] | None = 0
sheet_dict = pd.read_excel('sales.xlsx',sheet_name=sheet_names)

In [7]:
# 2.1查看某一个sheet页的基本信息
sheet_dict['2015'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30774 entries, 0 to 30773
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    30774 non-null  int64
 1   订单号     30774 non-null  int64
 2   提交日期    30774 non-null  datetime64[ns]
 3   订单金额    30774 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 961.8 KB

In [6]:
# 2.2[数据质量查看]查看某一个sheet页的统计信息
sheet_dict['2015'].describe()

,会员ID,订单号,提交日期,订单金额
count,3.077400e+04,3.077400e+04,30774,30774.000000
mean,2.918779e+10,4.020414e+09,2015-07-01 20:55:49.424839168,960.991161
min,2.670000e+02,3.000305e+09,2015-01-01 00:00:00,0.500000
25%,1.944122e+10,3.885510e+09,2015-04-02 00:00:00,59.000000
50%,3.746545e+10,4.117491e+09,2015-07-02 00:00:00,139.000000
75%,3.923593e+10,4.234882e+09,2015-10-01 00:00:00,899.000000
max,3.954613e+10,4.282025e+09,2015-12-31 00:00:00,111750.000000
std,1.385333e+10,2.630510e+08,NaN,2068.107231

In [8]:
# 2.2[数据质量查看]查看全部  2015、2016、2017、2018
# 遍历查看每一页页签的数据信息
for i in sheet_names:
    print(i)        # 每一个sheet页的名字
    print(sheet_dict[i].info)
    print(sheet_dict[i].describe())

2015
<bound method DataFrame.info of               会员ID         订单号       提交日期    订单金额
0      15278002468  3000304681 2015-01-01   499.0
1      39236378972  3000305791 2015-01-01  2588.0
2      38722039578  3000641787 2015-01-01   498.0
3      11049640063  3000798913 2015-01-01  1572.0
4      35038752292  3000821546 2015-01-01    10.1
...            ...         ...        ...     ...
30769  39368100847  4281994827 2015-12-31   828.0
30770       409757  4282010457 2015-12-31   199.0
30771  38380526114  4282017675 2015-12-31   208.0
30772     28074988  4282019440 2015-12-31    89.0
30773  39460363230  4282025309 2015-12-31   719.0

[30774 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  3.077400e+04  3.077400e+04                          30774
mean   2.918779e+10  4.020414e+09  2015-07-01 20:55:49.424839168
min    2.670000e+02  3.000305e+09            2015-01-01 00:00:00
25%    1.944122e+10  3.885510e+09            2015-04-02 00:00:00
50%    3.746545e+10  4.117491e+09            2015-07-02 00:00:00
75%    3.923593e+10  4.234882e+09            2015-10-01 00:00:00
max    3.954613e+10  4.282025e+09            2015-12-31 00:00:00
std    1.385333e+10  2.630510e+08                            NaN

                订单金额
count   30774.000000
mean      960.991161
min         0.500000
25%        59.000000
50%       139.000000
75%       899.000000
max    111750.000000
std      2068.107231
2016
<bound method DataFrame.info of               会员ID         订单号       提交日期     订单金额
0      39288120141  4282025766 2016-01-01    76.00
1      39293812118  4282037929 2016-01-01  7599.00
2      27596340905  4282038740 2016-01-01   802.00
3      15111475509  4282043819 2016-01-01    65.00
4      38896594001  4282051044 2016-01-01    95.00
...            ...         ...        ...      ...
41273  35336052906  4324910145 2016-12-31    99.00
41274  39305835721  4324910148 2016-12-31   238.89
41275  39296945352  4324910770 2016-12-31   765.00
41276  14791026234  4324911025 2016-12-31    45.80
41277  16779755770  4324911048 2016-12-31   119.00

[41278 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  4.127800e+04  4.127800e+04                          41278
mean   2.908415e+10  4.313583e+09  2016-07-01 16:34:58.008624384
min    8.100000e+01  4.282026e+09            2016-01-01 00:00:00
25%    1.934990e+10  4.309457e+09            2016-04-01 00:00:00
50%    3.730339e+10  4.317545e+09            2016-07-02 00:00:00
75%    3.923182e+10  4.321132e+09            2016-10-01 00:00:00
max    3.954554e+10  4.324911e+09            2016-12-31 00:00:00
std    1.389468e+10  1.094572e+07                            NaN

                订单金额
count   41277.000000
mean      957.106694
min         0.100000
25%        59.000000
50%       147.000000
75%       888.000000
max    174900.000000
std      2478.560036
2017
<bound method DataFrame.info of               会员ID         订单号       提交日期    订单金额
0      38765290840  4324911135 2017-01-01  1799.0
1      39305832102  4324911213 2017-01-01   369.0
2      34190994969  4324911251 2017-01-01   189.0
3      38986333210  4324911283 2017-01-01   169.0
4          4271359  4324911355 2017-01-01    78.0
...            ...         ...        ...     ...
50834  39155833075  4338762307 2017-12-31    96.0
50835  29523124076  4338762514 2017-12-31    99.0
50836      7807573  4338762906 2017-12-31   258.0
50837  36642530033  4338762958 2017-12-31   286.0
50838  39155901156  4338763879 2017-12-31   249.0

[50839 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  5.083900e+04  5.083900e+04                          50839
mean   2.882368e+10  4.332466e+09  2017-07-02 00:53:06.530025984
min    2.780000e+02  4.324911e+09            2017-01-01 00:00:00
25%    1.869274e+10  4.328415e+09            2017-04-01 00:00:00
50%    3.688044e+10  4.331989e+09            2017-07-02 00:00:00
75%    3.923020e+10  4.337515e+09            2017-10-02 00:00:00
max    3.954554e+10  4.338764e+09            2017-12-31 00:00:00
std    1.409416e+10  4.404350e+06                            NaN

                订单金额
count   50839.000000
mean      963.587872
min         0.300000
25%        59.000000
50%       149.000000
75%       898.000000
max    123609.000000
std      2178.727261
2018
<bound method DataFrame.info of               会员ID         订单号       提交日期    订单金额
0      39229691808  4338764262 2018-01-01  3646.0
1      39293668916  4338764363 2018-01-01  3999.0
2      35059646224  4338764376 2018-01-01    10.1
3          1084397  4338770013 2018-01-01   828.0
4          3349915  4338770121 2018-01-01  3758.0
...            ...         ...        ...     ...
81344  39229485704  4354225182 2018-12-31   249.0
81345  39229021075  4354225188 2018-12-31    89.0
81346  39288976750  4354230034 2018-12-31    48.5
81347     26772630  4354230163 2018-12-31  3196.0
81348  39455580335  4354235084 2018-12-31  2999.0

[81349 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  8.134900e+04  8.134900e+04                          81349
mean   2.902317e+10  4.348372e+09  2018-07-01 17:23:17.489827584
min    2.780000e+02  4.338764e+09            2018-01-01 00:00:00
25%    1.902755e+10  4.345654e+09            2018-04-01 00:00:00
50%    3.740121e+10  4.349448e+09            2018-07-01 00:00:00
75%    3.923380e+10  4.351639e+09            2018-10-01 00:00:00
max    3.954614e+10  4.354235e+09            2018-12-31 00:00:00
std    1.404116e+10  4.183774e+06                            NaN

                订单金额
count   81348.000000
mean      966.582792
min         0.000000
25%        60.000000
50%       149.000000
75%       899.000000
max    174900.000000
std      2204.969534
会员等级
<bound method DataFrame.info of                会员ID  会员等级
0            100090     3
1       10012905801     1
2       10012935109     1
3       10013498043     1
4       10014087899     4
...             ...   ...
154380       998138     3
154381       998298     1
154382       998571     4
154383       999563     4
154384       999951     1

[154385 rows x 2 columns]>
               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000

In [9]:
# 3.对源数据进行处理（空值、极小值） --> 异常值
# 空值：可填充 可删除
# 极小值：低于一元的订单均删除
# 固定时间点：以每年的最后一天作为当年的时间点

In [10]:
# 3.1:删除空值 & 过滤出订单金额 > 1  &  固定时间点 ：以每年的最后一天作为当年的时间点
# for i in sheet_names[:len(sheet_names)-1]:
for i in sheet_names[:-1]:
    # 3.1.1:删除空值 dropna()  删除数据中的空值
    sheet_dict[i] = sheet_dict[i].dropna()
    # 3.1.2:过滤金额
    sheet_dict[i] = sheet_dict[i][sheet_dict[i]['订单金额']>1]
    # 3.1.3:固定时间点：以每年的最后一天作为当年的时间点
    sheet_dict[i]['max_year_date'] = sheet_dict[i]['提交日期'].max()

In [11]:
# 3.2:查看处理后的数据
for i in sheet_names:
    print(sheet_dict[i].info())
    print(sheet_dict[i].describe())

<class 'pandas.core.frame.DataFrame'>
Index: 30574 entries, 0 to 30773
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           30574 non-null  int64
 1   订单号            30574 non-null  int64
 2   提交日期           30574 non-null  datetime64[ns]
 3   订单金额           30574 non-null  float64
 4   max_year_date  30574 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 1.4 MB
None
               会员ID           订单号                           提交日期  \
count  3.057400e+04  3.057400e+04                          30574
mean   2.921327e+10  4.020442e+09  2015-07-01 21:10:04.042650624
min    2.670000e+02  3.000305e+09            2015-01-01 00:00:00
25%    1.961657e+10  3.885746e+09            2015-04-02 00:00:00
50%    3.754532e+10  4.117491e+09            2015-07-02 00:00:00
75%    3.923630e+10  4.234853e+09            2015-10-01 00:00:00
max    3.954613e+10  4.282025e+09            2015-12-31 00:00:00
std    1.384598e+10  2.630518e+08                            NaN

                订单金额                  max_year_date
count   30574.000000                          30574
mean      967.270965  2015-12-30 23:59:59.999999744
min         1.500000            2015-12-31 00:00:00
25%        59.700000            2015-12-31 00:00:00
50%       142.000000            2015-12-31 00:00:00
75%       899.000000            2015-12-31 00:00:00
max    111750.000000            2015-12-31 00:00:00
std      2073.397861                            NaN
<class 'pandas.core.frame.DataFrame'>
Index: 41001 entries, 0 to 41277
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           41001 non-null  int64
 1   订单号            41001 non-null  int64
 2   提交日期           41001 non-null  datetime64[ns]
 3   订单金额           41001 non-null  float64
 4   max_year_date  41001 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 1.9 MB
None
               会员ID           订单号                           提交日期  \
count  4.100100e+04  4.100100e+04                          41001
mean   2.910772e+10  4.313582e+09  2016-07-01 16:37:53.739664640
min    8.100000e+01  4.282026e+09            2016-01-01 00:00:00
25%    1.943201e+10  4.309457e+09            2016-04-01 00:00:00
50%    3.740237e+10  4.317545e+09            2016-07-02 00:00:00
75%    3.923184e+10  4.321133e+09            2016-10-01 00:00:00
max    3.954554e+10  4.324911e+09            2016-12-31 00:00:00
std    1.388571e+10  1.094832e+07                            NaN

                订单金额        max_year_date
count   41001.000000                41001
mean      963.542790  2016-12-31 00:00:00
min         1.500000  2016-12-31 00:00:00
25%        65.000000  2016-12-31 00:00:00
50%       149.000000  2016-12-31 00:00:00
75%       898.000000  2016-12-31 00:00:00
max    174900.000000  2016-12-31 00:00:00
std      2485.642632                  NaN
<class 'pandas.core.frame.DataFrame'>
Index: 50451 entries, 0 to 50838
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           50451 non-null  int64
 1   订单号            50451 non-null  int64
 2   提交日期           50451 non-null  datetime64[ns]
 3   订单金额           50451 non-null  float64
 4   max_year_date  50451 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 2.3 MB
None
               会员ID           订单号                           提交日期  \
count  5.045100e+04  5.045100e+04                          50451
mean   2.884214e+10  4.332469e+09  2017-07-02 02:16:12.301837568
min    2.780000e+02  4.324911e+09            2017-01-01 00:00:00
25%    1.870549e+10  4.328416e+09            2017-04-01 00:00:00
50%    3.692362e+10  4.331989e+09            2017-07-02 00:00:00
75%    3.923070e+10  4.337528e+09            2017-10-02 00:00:00
max    3.954554e+10  4.338764e+09            2017-12-31 00:00:00
std    1.408666e+10  4.404894e+06                            NaN

                订单金额        max_year_date
count   50451.000000                50451
mean      970.990793  2017-12-31 00:00:00
min         1.500000  2017-12-31 00:00:00
25%        65.000000  2017-12-31 00:00:00
50%       155.000000  2017-12-31 00:00:00
75%       899.000000  2017-12-31 00:00:00
max    123609.000000  2017-12-31 00:00:00
std      2185.446995                  NaN
<class 'pandas.core.frame.DataFrame'>
Index: 80801 entries, 0 to 81348
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           80801 non-null  int64
 1   订单号            80801 non-null  int64
 2   提交日期           80801 non-null  datetime64[ns]
 3   订单金额           80801 non-null  float64
 4   max_year_date  80801 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 3.7 MB
None
               会员ID           订单号                           提交日期  \
count  8.080100e+04  8.080100e+04                          80801
mean   2.905571e+10  4.348372e+09  2018-07-01 18:16:22.948230912
min    2.780000e+02  4.338764e+09            2018-01-01 00:00:00
25%    1.919622e+10  4.345654e+09            2018-04-01 00:00:00
50%    3.749326e+10  4.349448e+09            2018-07-01 00:00:00
75%    3.923398e+10  4.351641e+09            2018-10-02 00:00:00
max    3.954614e+10  4.354235e+09            2018-12-31 00:00:00
std    1.402185e+10  4.185250e+06                            NaN

                订单金额        max_year_date
count   80801.000000                80801
mean      973.119528  2018-12-31 00:00:00
min         1.500000  2018-12-31 00:00:00
25%        68.000000  2018-12-31 00:00:00
50%       151.700000  2018-12-31 00:00:00
75%       925.000000  2018-12-31 00:00:00
max    174900.000000  2018-12-31 00:00:00
std      2210.983968                  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    154385 non-null  int64
 1   会员等级    154385 non-null  int64
dtypes: int64(2)
memory usage: 2.4 MB
None
               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000

In [13]:
# 3.3：把上述的四张表(dataframe)  合并为一个df对象
# sheet_dict['2015']
# sheet_dict['2016']
# sheet_dict['2017']
# sheet_dict['2018']
# list(sheet_dict.values())
# ignore_index=True     # 合并后的表格行号从0开始重新排队，避免混乱
df_merge = pd.concat(list(sheet_dict.values())[:-1],ignore_index=True)
df_merge

               会员ID         订单号       提交日期    订单金额 max_year_date
0       15278002468  3000304681 2015-01-01   499.0    2015-12-31
1       39236378972  3000305791 2015-01-01  2588.0    2015-12-31
2       38722039578  3000641787 2015-01-01   498.0    2015-12-31
3       11049640063  3000798913 2015-01-01  1572.0    2015-12-31
4       35038752292  3000821546 2015-01-01    10.1    2015-12-31
...             ...         ...        ...     ...           ...
202822  39229485704  4354225182 2018-12-31   249.0    2018-12-31
202823  39229021075  4354225188 2018-12-31    89.0    2018-12-31
202824  39288976750  4354230034 2018-12-31    48.5    2018-12-31
202825     26772630  4354230163 2018-12-31  3196.0    2018-12-31
202826  39455580335  4354235084 2018-12-31  2999.0    2018-12-31

[202827 rows x 5 columns]

In [35]:
# 3.4：为了好区分，给df增加一个year列
df_merge['year'] = df_merge['提交日期'].dt.year
df_merge

,会员ID,订单号,提交日期,订单金额,max_year_date,year,data_interval
0,15278002468,3000304681,2015-01-01,499.0,2015-12-31,2015,364
1,39236378972,3000305791,2015-01-01,2588.0,2015-12-31,2015,364
2,38722039578,3000641787,2015-01-01,498.0,2015-12-31,2015,364
3,11049640063,3000798913,2015-01-01,1572.0,2015-12-31,2015,364
4,35038752292,3000821546,2015-01-01,10.1,2015-12-31,2015,364
...,...,...,...,...,...,...,...
202822,39229485704,4354225182,2018-12-31,249.0,2018-12-31,2018,0
202823,39229021075,4354225188,2018-12-31,89.0,2018-12-31,2018,0
202824,39288976750,4354230034,2018-12-31,48.5,2018-12-31,2018,0
202825,26772630,4354230163,2018-12-31,3196.0,2018-12-31,2018,0
202826,39455580335,4354235084,2018-12-31,2999.0,2018-12-31,2018,0

In [43]:
# 3.5：预处理R字段
#   时间间隔 = 截止时间 - 提交时间     算出用户最近间隔
df_merge['data_interval']=df_merge['max_year_date'] - df_merge['提交日期']
# df_merge
# 现状：  显示 364 days
#    想要     364
# df_merge['data_interval'] = df_merge['data_interval'].dt.days
# df_merge
# <class 'pandas.core.indexes.accessors.TimedeltaProperties'>
# TimedeltaProperties
print(type(df_merge['data_interval'].dt))

<class 'pandas.core.indexes.accessors.TimedeltaProperties'>
<class 'pandas.core.series.Series'>

In [22]:
# 按照年份、会员ID进行分组
#   R：取间隔时间最小值
#   F：订单数量
#   M：订单金额

In [25]:
# as_index = False  不要把分组字段设置为索引
rfm = df_merge.groupby(['year','会员ID'],as_index=False).agg(
    {
        'data_interval':'min',
        '订单号':'count',
        '订单金额':'sum'
    }
)

In [26]:
# 修改列名（方便分析）
rfm.columns = ['year','会员ID','r','f','m']
rfm

        year         会员ID    r  f       m
0       2015          267  197  2   105.0
1       2015          282  251  1    29.7
2       2015          283  340  1  5398.0
3       2015          343  300  1   118.0
4       2015          525   37  3   213.0
...      ...          ...  ... ..     ...
148586  2018  39538034299  272  1    49.0
148587  2018  39538034662  189  1  3558.0
148588  2018  39538035729  179  1  3699.0
148589  2018  39545237824  275  1    49.0
148590  2018  39546136285  163  1    19.9

[148591 rows x 5 columns]