In [1]:
# 1.导包
# 1.1在canda下安装pyecharts
# pip install pyecharts

import time
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from pyecharts.charts import Bar3D
from pyecharts.commons.utils import JsCode
import pyecharts.options as opts
import os
os.chdir(r"E:\ProjectCode\PythonProjectCode\pythonProject\HaskMaProject\data")

In [5]:
# 2.导入数据
sheet_names = ['2015','2016','2017','2018','会员等级',]
# sheet_name: str | int | list[IntStrT] | None = 0
sheet_dict = pd.read_excel('sales.xlsx',sheet_name=sheet_names)

In [7]:
# 2.1查看某一个sheet页的基本信息
sheet_dict['2015'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30774 entries, 0 to 30773
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    30774 non-null  int64
 1   订单号     30774 non-null  int64
 2   提交日期    30774 non-null  datetime64[ns]
 3   订单金额    30774 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 961.8 KB

In [6]:
# 2.2[数据质量查看]查看某一个sheet页的统计信息
sheet_dict['2015'].describe()

,会员ID,订单号,提交日期,订单金额
count,3.077400e+04,3.077400e+04,30774,30774.000000
mean,2.918779e+10,4.020414e+09,2015-07-01 20:55:49.424839168,960.991161
min,2.670000e+02,3.000305e+09,2015-01-01 00:00:00,0.500000
25%,1.944122e+10,3.885510e+09,2015-04-02 00:00:00,59.000000
50%,3.746545e+10,4.117491e+09,2015-07-02 00:00:00,139.000000
75%,3.923593e+10,4.234882e+09,2015-10-01 00:00:00,899.000000
max,3.954613e+10,4.282025e+09,2015-12-31 00:00:00,111750.000000
std,1.385333e+10,2.630510e+08,NaN,2068.107231

In [8]:
# 2.2[数据质量查看]查看全部  2015、2016、2017、2018
# 遍历查看每一页页签的数据信息
for i in sheet_names:
    print(i)        # 每一个sheet页的名字
    print(sheet_dict[i].info)
    print(sheet_dict[i].describe())

2015
<bound method DataFrame.info of               会员ID         订单号       提交日期    订单金额
0      15278002468  3000304681 2015-01-01   499.0
1      39236378972  3000305791 2015-01-01  2588.0
2      38722039578  3000641787 2015-01-01   498.0
3      11049640063  3000798913 2015-01-01  1572.0
4      35038752292  3000821546 2015-01-01    10.1
...            ...         ...        ...     ...
30769  39368100847  4281994827 2015-12-31   828.0
30770       409757  4282010457 2015-12-31   199.0
30771  38380526114  4282017675 2015-12-31   208.0
30772     28074988  4282019440 2015-12-31    89.0
30773  39460363230  4282025309 2015-12-31   719.0

[30774 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  3.077400e+04  3.077400e+04                          30774
mean   2.918779e+10  4.020414e+09  2015-07-01 20:55:49.424839168
min    2.670000e+02  3.000305e+09            2015-01-01 00:00:00
25%    1.944122e+10  3.885510e+09            2015-04-02 00:00:00
50%    3.746545e+10  4.117491e+09            2015-07-02 00:00:00
75%    3.923593e+10  4.234882e+09            2015-10-01 00:00:00
max    3.954613e+10  4.282025e+09            2015-12-31 00:00:00
std    1.385333e+10  2.630510e+08                            NaN

                订单金额
count   30774.000000
mean      960.991161
min         0.500000
25%        59.000000
50%       139.000000
75%       899.000000
max    111750.000000
std      2068.107231
2016
<bound method DataFrame.info of               会员ID         订单号       提交日期     订单金额
0      39288120141  4282025766 2016-01-01    76.00
1      39293812118  4282037929 2016-01-01  7599.00
2      27596340905  4282038740 2016-01-01   802.00
3      15111475509  4282043819 2016-01-01    65.00
4      38896594001  4282051044 2016-01-01    95.00
...            ...         ...        ...      ...
41273  35336052906  4324910145 2016-12-31    99.00
41274  39305835721  4324910148 2016-12-31   238.89
41275  39296945352  4324910770 2016-12-31   765.00
41276  14791026234  4324911025 2016-12-31    45.80
41277  16779755770  4324911048 2016-12-31   119.00

[41278 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  4.127800e+04  4.127800e+04                          41278
mean   2.908415e+10  4.313583e+09  2016-07-01 16:34:58.008624384
min    8.100000e+01  4.282026e+09            2016-01-01 00:00:00
25%    1.934990e+10  4.309457e+09            2016-04-01 00:00:00
50%    3.730339e+10  4.317545e+09            2016-07-02 00:00:00
75%    3.923182e+10  4.321132e+09            2016-10-01 00:00:00
max    3.954554e+10  4.324911e+09            2016-12-31 00:00:00
std    1.389468e+10  1.094572e+07                            NaN

                订单金额
count   41277.000000
mean      957.106694
min         0.100000
25%        59.000000
50%       147.000000
75%       888.000000
max    174900.000000
std      2478.560036
2017
<bound method DataFrame.info of               会员ID         订单号       提交日期    订单金额
0      38765290840  4324911135 2017-01-01  1799.0
1      39305832102  4324911213 2017-01-01   369.0
2      34190994969  4324911251 2017-01-01   189.0
3      38986333210  4324911283 2017-01-01   169.0
4          4271359  4324911355 2017-01-01    78.0
...            ...         ...        ...     ...
50834  39155833075  4338762307 2017-12-31    96.0
50835  29523124076  4338762514 2017-12-31    99.0
50836      7807573  4338762906 2017-12-31   258.0
50837  36642530033  4338762958 2017-12-31   286.0
50838  39155901156  4338763879 2017-12-31   249.0

[50839 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  5.083900e+04  5.083900e+04                          50839
mean   2.882368e+10  4.332466e+09  2017-07-02 00:53:06.530025984
min    2.780000e+02  4.324911e+09            2017-01-01 00:00:00
25%    1.869274e+10  4.328415e+09            2017-04-01 00:00:00
50%    3.688044e+10  4.331989e+09            2017-07-02 00:00:00
75%    3.923020e+10  4.337515e+09            2017-10-02 00:00:00
max    3.954554e+10  4.338764e+09            2017-12-31 00:00:00
std    1.409416e+10  4.404350e+06                            NaN

                订单金额
count   50839.000000
mean      963.587872
min         0.300000
25%        59.000000
50%       149.000000
75%       898.000000
max    123609.000000
std      2178.727261
2018
<bound method DataFrame.info of               会员ID         订单号       提交日期    订单金额
0      39229691808  4338764262 2018-01-01  3646.0
1      39293668916  4338764363 2018-01-01  3999.0
2      35059646224  4338764376 2018-01-01    10.1
3          1084397  4338770013 2018-01-01   828.0
4          3349915  4338770121 2018-01-01  3758.0
...            ...         ...        ...     ...
81344  39229485704  4354225182 2018-12-31   249.0
81345  39229021075  4354225188 2018-12-31    89.0
81346  39288976750  4354230034 2018-12-31    48.5
81347     26772630  4354230163 2018-12-31  3196.0
81348  39455580335  4354235084 2018-12-31  2999.0

[81349 rows x 4 columns]>
               会员ID           订单号                           提交日期  \
count  8.134900e+04  8.134900e+04                          81349
mean   2.902317e+10  4.348372e+09  2018-07-01 17:23:17.489827584
min    2.780000e+02  4.338764e+09            2018-01-01 00:00:00
25%    1.902755e+10  4.345654e+09            2018-04-01 00:00:00
50%    3.740121e+10  4.349448e+09            2018-07-01 00:00:00
75%    3.923380e+10  4.351639e+09            2018-10-01 00:00:00
max    3.954614e+10  4.354235e+09            2018-12-31 00:00:00
std    1.404116e+10  4.183774e+06                            NaN

                订单金额
count   81348.000000
mean      966.582792
min         0.000000
25%        60.000000
50%       149.000000
75%       899.000000
max    174900.000000
std      2204.969534
会员等级
<bound method DataFrame.info of                会员ID  会员等级
0            100090     3
1       10012905801     1
2       10012935109     1
3       10013498043     1
4       10014087899     4
...             ...   ...
154380       998138     3
154381       998298     1
154382       998571     4
154383       999563     4
154384       999951     1

[154385 rows x 2 columns]>
               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000

In [9]:
# 3.对源数据进行处理（空值、极小值） --> 异常值
# 空值：可填充 可删除
# 极小值：低于一元的订单均删除
# 固定时间点：以每年的最后一天作为当年的时间点

In [10]:
# 3.1:删除空值 & 过滤出订单金额 > 1  &  固定时间点 ：以每年的最后一天作为当年的时间点
# for i in sheet_names[:len(sheet_names)-1]:
for i in sheet_names[:-1]:
    # 3.1.1:删除空值 dropna()  删除数据中的空值
    sheet_dict[i] = sheet_dict[i].dropna()
    # 3.1.2:过滤金额
    sheet_dict[i] = sheet_dict[i][sheet_dict[i]['订单金额']>1]
    # 3.1.3:固定时间点：以每年的最后一天作为当年的时间点
    sheet_dict[i]['max_year_date'] = sheet_dict[i]['提交日期'].max()

In [11]:
# 3.2:查看处理后的数据
for i in sheet_names:
    print(sheet_dict[i].info())
    print(sheet_dict[i].describe())

<class 'pandas.core.frame.DataFrame'>
Index: 30574 entries, 0 to 30773
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           30574 non-null  int64
 1   订单号            30574 non-null  int64
 2   提交日期           30574 non-null  datetime64[ns]
 3   订单金额           30574 non-null  float64
 4   max_year_date  30574 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 1.4 MB
None
               会员ID           订单号                           提交日期  \
count  3.057400e+04  3.057400e+04                          30574
mean   2.921327e+10  4.020442e+09  2015-07-01 21:10:04.042650624
min    2.670000e+02  3.000305e+09            2015-01-01 00:00:00
25%    1.961657e+10  3.885746e+09            2015-04-02 00:00:00
50%    3.754532e+10  4.117491e+09            2015-07-02 00:00:00
75%    3.923630e+10  4.234853e+09            2015-10-01 00:00:00
max    3.954613e+10  4.282025e+09            2015-12-31 00:00:00
std    1.384598e+10  2.630518e+08                            NaN

                订单金额                  max_year_date
count   30574.000000                          30574
mean      967.270965  2015-12-30 23:59:59.999999744
min         1.500000            2015-12-31 00:00:00
25%        59.700000            2015-12-31 00:00:00
50%       142.000000            2015-12-31 00:00:00
75%       899.000000            2015-12-31 00:00:00
max    111750.000000            2015-12-31 00:00:00
std      2073.397861                            NaN
<class 'pandas.core.frame.DataFrame'>
Index: 41001 entries, 0 to 41277
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           41001 non-null  int64
 1   订单号            41001 non-null  int64
 2   提交日期           41001 non-null  datetime64[ns]
 3   订单金额           41001 non-null  float64
 4   max_year_date  41001 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 1.9 MB
None
               会员ID           订单号                           提交日期  \
count  4.100100e+04  4.100100e+04                          41001
mean   2.910772e+10  4.313582e+09  2016-07-01 16:37:53.739664640
min    8.100000e+01  4.282026e+09            2016-01-01 00:00:00
25%    1.943201e+10  4.309457e+09            2016-04-01 00:00:00
50%    3.740237e+10  4.317545e+09            2016-07-02 00:00:00
75%    3.923184e+10  4.321133e+09            2016-10-01 00:00:00
max    3.954554e+10  4.324911e+09            2016-12-31 00:00:00
std    1.388571e+10  1.094832e+07                            NaN

                订单金额        max_year_date
count   41001.000000                41001
mean      963.542790  2016-12-31 00:00:00
min         1.500000  2016-12-31 00:00:00
25%        65.000000  2016-12-31 00:00:00
50%       149.000000  2016-12-31 00:00:00
75%       898.000000  2016-12-31 00:00:00
max    174900.000000  2016-12-31 00:00:00
std      2485.642632                  NaN
<class 'pandas.core.frame.DataFrame'>
Index: 50451 entries, 0 to 50838
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           50451 non-null  int64
 1   订单号            50451 non-null  int64
 2   提交日期           50451 non-null  datetime64[ns]
 3   订单金额           50451 non-null  float64
 4   max_year_date  50451 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 2.3 MB
None
               会员ID           订单号                           提交日期  \
count  5.045100e+04  5.045100e+04                          50451
mean   2.884214e+10  4.332469e+09  2017-07-02 02:16:12.301837568
min    2.780000e+02  4.324911e+09            2017-01-01 00:00:00
25%    1.870549e+10  4.328416e+09            2017-04-01 00:00:00
50%    3.692362e+10  4.331989e+09            2017-07-02 00:00:00
75%    3.923070e+10  4.337528e+09            2017-10-02 00:00:00
max    3.954554e+10  4.338764e+09            2017-12-31 00:00:00
std    1.408666e+10  4.404894e+06                            NaN

                订单金额        max_year_date
count   50451.000000                50451
mean      970.990793  2017-12-31 00:00:00
min         1.500000  2017-12-31 00:00:00
25%        65.000000  2017-12-31 00:00:00
50%       155.000000  2017-12-31 00:00:00
75%       899.000000  2017-12-31 00:00:00
max    123609.000000  2017-12-31 00:00:00
std      2185.446995                  NaN
<class 'pandas.core.frame.DataFrame'>
Index: 80801 entries, 0 to 81348
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           80801 non-null  int64
 1   订单号            80801 non-null  int64
 2   提交日期           80801 non-null  datetime64[ns]
 3   订单金额           80801 non-null  float64
 4   max_year_date  80801 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 3.7 MB
None
               会员ID           订单号                           提交日期  \
count  8.080100e+04  8.080100e+04                          80801
mean   2.905571e+10  4.348372e+09  2018-07-01 18:16:22.948230912
min    2.780000e+02  4.338764e+09            2018-01-01 00:00:00
25%    1.919622e+10  4.345654e+09            2018-04-01 00:00:00
50%    3.749326e+10  4.349448e+09            2018-07-01 00:00:00
75%    3.923398e+10  4.351641e+09            2018-10-02 00:00:00
max    3.954614e+10  4.354235e+09            2018-12-31 00:00:00
std    1.402185e+10  4.185250e+06                            NaN

                订单金额        max_year_date
count   80801.000000                80801
mean      973.119528  2018-12-31 00:00:00
min         1.500000  2018-12-31 00:00:00
25%        68.000000  2018-12-31 00:00:00
50%       151.700000  2018-12-31 00:00:00
75%       925.000000  2018-12-31 00:00:00
max    174900.000000  2018-12-31 00:00:00
std      2210.983968                  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    154385 non-null  int64
 1   会员等级    154385 non-null  int64
dtypes: int64(2)
memory usage: 2.4 MB
None
               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000

In [13]:
# 3.3：把上述的四张表(dataframe)  合并为一个df对象
# sheet_dict['2015']
# sheet_dict['2016']
# sheet_dict['2017']
# sheet_dict['2018']
# list(sheet_dict.values())
# ignore_index=True     # 合并后的表格行号从0开始重新排队，避免混乱
df_merge = pd.concat(list(sheet_dict.values())[:-1],ignore_index=True)
df_merge

               会员ID         订单号       提交日期    订单金额 max_year_date
0       15278002468  3000304681 2015-01-01   499.0    2015-12-31
1       39236378972  3000305791 2015-01-01  2588.0    2015-12-31
2       38722039578  3000641787 2015-01-01   498.0    2015-12-31
3       11049640063  3000798913 2015-01-01  1572.0    2015-12-31
4       35038752292  3000821546 2015-01-01    10.1    2015-12-31
...             ...         ...        ...     ...           ...
202822  39229485704  4354225182 2018-12-31   249.0    2018-12-31
202823  39229021075  4354225188 2018-12-31    89.0    2018-12-31
202824  39288976750  4354230034 2018-12-31    48.5    2018-12-31
202825     26772630  4354230163 2018-12-31  3196.0    2018-12-31
202826  39455580335  4354235084 2018-12-31  2999.0    2018-12-31

[202827 rows x 5 columns]

In [56]:
# 3.4：为了好区分，给df增加一个year列
df_merge['year'] = df_merge['提交日期'].dt.year
df_merge

,会员ID,订单号,提交日期,订单金额,max_year_date,year,data_interval
0,15278002468,3000304681,2015-01-01,499.0,2015-12-31,1,364 days
1,39236378972,3000305791,2015-01-01,2588.0,2015-12-31,1,364 days
2,38722039578,3000641787,2015-01-01,498.0,2015-12-31,1,364 days
3,11049640063,3000798913,2015-01-01,1572.0,2015-12-31,1,364 days
4,35038752292,3000821546,2015-01-01,10.1,2015-12-31,1,364 days
...,...,...,...,...,...,...,...
202822,39229485704,4354225182,2018-12-31,249.0,2018-12-31,12,0 days
202823,39229021075,4354225188,2018-12-31,89.0,2018-12-31,12,0 days
202824,39288976750,4354230034,2018-12-31,48.5,2018-12-31,12,0 days
202825,26772630,4354230163,2018-12-31,3196.0,2018-12-31,12,0 days
202826,39455580335,4354235084,2018-12-31,2999.0,2018-12-31,12,0 days

In [43]:
# 3.5：预处理R字段
#   时间间隔 = 截止时间 - 提交时间     算出用户最近间隔
df_merge['data_interval']=df_merge['max_year_date'] - df_merge['提交日期']
# df_merge
# 现状：  显示 364 days
#    想要     364
# df_merge['data_interval'] = df_merge['data_interval'].dt.days
# df_merge
# <class 'pandas.core.indexes.accessors.TimedeltaProperties'>
# TimedeltaProperties
print(type(df_merge['data_interval'].dt))

<class 'pandas.core.indexes.accessors.TimedeltaProperties'>
<class 'pandas.core.series.Series'>

In [86]:
# dt.year   pandas 日期类型的列，用来提取年份
datas = ['2025-4-11','2025-4-12','2025-4-13']
# datas.dt.year 列表不行，日期类型特有的

df_time = pd.DataFrame({'date_year':datas})
df_time

   date_year
0  2025-4-11
1  2025-4-12
2  2025-4-13

In [88]:
# df_time = pd.DataFrame(datas)
# df_time.dt.year     # datafream不行，需要时间类型的列
time_s = pd.to_datetime(df_time['date_year'])    #把字符串时间类型 --> pandas日期类型
time_s.dt.month

0    4
1    4
2    4
Name: date_year, dtype: int32

In [22]:
# 按照年份、会员ID进行分组
#   R：取间隔时间最小值
#   F：订单数量
#   M：订单金额

In [25]:
# as_index = False  不要把分组字段设置为索引
rfm = df_merge.groupby(['year','会员ID'],as_index=False).agg(
    {
        'data_interval':'min',
        '订单号':'count',
        '订单金额':'sum'
    }
)

In [44]:
# 修改列名（方便分析）
rfm.columns = ['year','会员ID','r','f','m']
rfm

        year         会员ID    r  f       m
0       2015          267  197  2   105.0
1       2015          282  251  1    29.7
2       2015          283  340  1  5398.0
3       2015          343  300  1   118.0
4       2015          525   37  3   213.0
...      ...          ...  ... ..     ...
148586  2018  39538034299  272  1    49.0
148587  2018  39538034662  189  1  3558.0
148588  2018  39538035729  179  1  3699.0
148589  2018  39545237824  275  1    49.0
148590  2018  39546136285  163  1    19.9

[148591 rows x 5 columns]

In [47]:
rfm.describe().T
# 手动划分区间
# -- R的之划分区间
#  R 的最大值 365        最小值 0   [3][2][1]  想要划分区间，最少需要四个值
#   f = 85  264
#   r = [0,85]  [85,264]    [264,365]
#   r:最近购买时间    r的值越小越好  3：[0,85]   2；[85,264]   1；[264,365]

# -- F值的划分区间
#  F 的最大值 89         最小值 1
#   f = 2   3
#   f = [1,2]   [2,4]   [4,100]
#   f:购买次数      f购买次数越大越好   3：[4,100]   2；[2,4]   1；[1,2]

# -- M值的划分区间
#  M 的最大值 181835.9      最小值 1.5
#   m = 69  1139
#   m = [1,69]   [69,1139]   [1139,400000]
#   m:购买金额  m最大越好   3：[1139,400000]   2；[69,1139]   1；[1,69]

,count,mean,std,min,25%,50%,75%,max
year,148591.0,2.016773e+03,1.129317e+00,2015.0,2.016000e+03,2.017000e+03,2.018000e+03,2.018000e+03
会员ID,148591.0,2.811669e+10,1.477660e+10,81.0,1.728262e+10,3.689151e+10,3.923337e+10,3.954614e+10
r,148591.0,1.655240e+02,1.019885e+02,0.0,7.900000e+01,1.560000e+02,2.550000e+02,3.650000e+02
f,148591.0,1.365002e+00,2.626953e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+02
m,148591.0,1.323741e+03,3.753907e+03,1.5,6.900000e+01,1.890000e+02,1.199000e+03,2.062518e+05

In [50]:
# 自动划分
# pd.cut(rfm['r'], bins=3).unique()
# [(121.667, 243.333], (243.333, 365.0], (-0.365, 121.667]]

# pd.cut(rfm['f'], bins=3).unique()
# [(0.871, 44.0], (44.0, 87.0], (87.0, 130.0]]

pd.cut(rfm['m'], bins=3).unique()
# [(-204.75, 68751.6], (68751.6, 137501.7], (137501.7, 206251.8]]

[(-204.75, 68751.6], (68751.6, 137501.7], (137501.7, 206251.8]]
Categories (3, interval[float64, right]): [(-204.75, 68751.6] < (68751.6, 137501.7] < (137501.7, 206251.8]]

In [64]:
r_bins = [-1,85,264,365]
f_bins = [0,2,4,200]
m_bins = [1,69,1139,400000]

In [65]:
# 基于手动指定的范围区间，给出每个范围 （评分     低中高     321）
rfm['r_label'] = pd.cut(rfm['r'],bins=r_bins,labels=[3,2,1])        # cut()函数 包尾不包头
# (121.667, 243.333], (243.333, 365.0], (-0.365, 121.667]
# 不包含           包含 不包含        包含 不包含           包含
rfm['f_label'] = pd.cut(rfm['f'],bins=f_bins,labels=[1,2,3])
rfm['m_label'] = pd.cut(rfm['m'],bins=m_bins,labels=[1,2,3])
rfm

        year         会员ID    r  f       m r_label f_label m_label
0       2015          267  197  2   105.0       2       1       2
1       2015          282  251  1    29.7       2       1       1
2       2015          283  340  1  5398.0       1       1       3
3       2015          343  300  1   118.0       1       1       2
4       2015          525   37  3   213.0       3       2       2
...      ...          ...  ... ..     ...     ...     ...     ...
148586  2018  39538034299  272  1    49.0       1       1       1
148587  2018  39538034662  189  1  3558.0       2       1       3
148588  2018  39538035729  179  1  3699.0       2       1       3
148589  2018  39545237824  275  1    49.0       1       1       1
148590  2018  39546136285  163  1    19.9       2       1       1

[148591 rows x 8 columns]

In [67]:
rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148591 entries, 0 to 148590
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   year     148591 non-null  int32
 1   会员ID     148591 non-null  int64
 2   r        148591 non-null  int64
 3   f        148591 non-null  int64
 4   m        148591 non-null  float64
 5   r_label  148591 non-null  category
 6   f_label  148591 non-null  category
 7   m_label  148591 non-null  category
dtypes: category(3), float64(1), int32(1), int64(3)
memory usage: 5.5 MB

In [70]:
# 升级写法  （更加灵活）
rfm['r_label'] = pd.cut(rfm['r'],bins=r_bins,labels=[i for i in range(len(r_bins)-1,0,-1)])
rfm['f_label'] = pd.cut(rfm['f'],bins=f_bins,labels=[i for i in range(1,len(f_bins))])
rfm['m_label'] = pd.cut(rfm['m'],bins=m_bins,labels=[i for i in range(1,len(m_bins))])
rfm

        year         会员ID    r  f       m r_label f_label m_label
0       2015          267  197  2   105.0       2       1       2
1       2015          282  251  1    29.7       2       1       1
2       2015          283  340  1  5398.0       1       1       3
3       2015          343  300  1   118.0       1       1       2
4       2015          525   37  3   213.0       3       2       2
...      ...          ...  ... ..     ...     ...     ...     ...
148586  2018  39538034299  272  1    49.0       1       1       1
148587  2018  39538034662  189  1  3558.0       2       1       3
148588  2018  39538035729  179  1  3699.0       2       1       3
148589  2018  39545237824  275  1    49.0       1       1       1
148590  2018  39546136285  163  1    19.9       2       1       1

[148591 rows x 8 columns]

In [71]:
rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148591 entries, 0 to 148590
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   year     148591 non-null  int32
 1   会员ID     148591 non-null  int64
 2   r        148591 non-null  int64
 3   f        148591 non-null  int64
 4   m        148591 non-null  float64
 5   r_label  148591 non-null  category
 6   f_label  148591 non-null  category
 7   m_label  148591 non-null  category
dtypes: category(3), float64(1), int32(1), int64(3)
memory usage: 5.5 MB

In [74]:
# rfm 评分已经出来了，现在有两种解决方案
# 方案一：计算出来一个得分  3  6  6
# 方案二：将rfm三个值进行拼接，因为我们的数据结果给运营&销售人员，采用拼接的方式，方便他分析客户


# 因为类型无法满足拼接操作 --> 转换类型
rfm['r_label'] = rfm['r_label'].astype(str)
rfm['f_label'] = rfm['f_label'].astype(str)
rfm['m_label'] = rfm['m_label'].astype(str)
rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148591 entries, 0 to 148590
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   year     148591 non-null  int32
 1   会员ID     148591 non-null  int64
 2   r        148591 non-null  int64
 3   f        148591 non-null  int64
 4   m        148591 non-null  float64
 5   r_label  148591 non-null  object
 6   f_label  148591 non-null  object
 7   m_label  148591 non-null  object
dtypes: float64(1), int32(1), int64(3), object(3)
memory usage: 8.5+ MB

In [76]:
# 作评分拼接
rfm['rfm_group'] = rfm['r_label'] + rfm['f_label'] + rfm['m_label']
rfm

        year         会员ID    r  f       m r_label f_label m_label rfm_group
0       2015          267  197  2   105.0       2       1       2       212
1       2015          282  251  1    29.7       2       1       1       211
2       2015          283  340  1  5398.0       1       1       3       113
3       2015          343  300  1   118.0       1       1       2       112
4       2015          525   37  3   213.0       3       2       2       322
...      ...          ...  ... ..     ...     ...     ...     ...       ...
148586  2018  39538034299  272  1    49.0       1       1       1       111
148587  2018  39538034662  189  1  3558.0       2       1       3       213
148588  2018  39538035729  179  1  3699.0       2       1       3       213
148589  2018  39545237824  275  1    49.0       1       1       1       111
148590  2018  39546136285  163  1    19.9       2       1       1       211

[148591 rows x 9 columns]

In [77]:
rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148591 entries, 0 to 148590
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       148591 non-null  int32
 1   会员ID       148591 non-null  int64
 2   r          148591 non-null  int64
 3   f          148591 non-null  int64
 4   m          148591 non-null  float64
 5   r_label    148591 non-null  object
 6   f_label    148591 non-null  object
 7   m_label    148591 non-null  object
 8   rfm_group  148591 non-null  object
dtypes: float64(1), int32(1), int64(3), object(4)
memory usage: 9.6+ MB

In [91]:
# 4.导出结果数据
#   4.1导出到excel
rfm.to_excel('sale_rfm_group.xlsx',index=False)

In [92]:
#   4.2导出到mysql表中
# "mysql+pymysql://scott:tiger@hostname/dbname",pool_recycle=3600, echo=True
engine = create_engine('mysql+pymysql://root:gang@127.0.0.1/ai24?charset=utf8')
rfm.to_sql("rfm_table",engine,index=False,if_exists='replace')

148591

In [93]:
pd.read_sql('select * from rfm_table limit 10',engine)

   year  会员ID    r  f       m r_label f_label m_label rfm_group
0  2015   267  197  2   105.0       2       1       2       212
1  2015   282  251  1    29.7       2       1       1       211
2  2015   283  340  1  5398.0       1       1       3       113
3  2015   343  300  1   118.0       1       1       2       112
4  2015   525   37  3   213.0       3       2       2       322
5  2015   540  328  1   110.0       1       1       2       112
6  2015   677    7  1   638.0       3       1       2       312
7  2015   948   67  1   199.0       3       1       2       312
8  2015  1331  232  1   940.0       2       1       2       212
9  2015  1919  266  1   498.0       1       1       2       112

In [98]:
# 5.1 准备可视化的数据, 即: rfm_group(分组结果评分), year(统计年份), number(评分个数)
display_data = rfm.groupby(['rfm_group', 'year'], as_index=False).agg({'会员ID': 'count'})
display_data.info()
# display_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rfm_group  92 non-null     object
 1   year       92 non-null     int32
 2   会员ID       92 non-null     int64
dtypes: int32(1), int64(1), object(1)
memory usage: 1.9+ KB

In [110]:
# 5.2 修改列名.
display_data.columns = ['rfm_group', 'year', 'number']
# 细节: 把number列的类型 -> int类型.
display_data['number'] = display_data['number'].astype(int)
display_data


# for i in display_data.values:       # 遍历出来的每个数据都是数组类型
#     print(i)        # 数组
#     print(type(i))        # 数组      <class 'numpy.ndarray'>
#     print(i.tolist())       # 列表
#     print(type(i.tolist()))       # 列表          <class 'list'>

['111' 2015 1969]
<class 'numpy.ndarray'>
['111', 2015, 1969]
<class 'list'>
['111' 2016 1446]
<class 'numpy.ndarray'>
['111', 2016, 1446]
<class 'list'>
['111' 2017 2866]
<class 'numpy.ndarray'>
['111', 2017, 2866]
<class 'list'>
['111' 2018 1831]
<class 'numpy.ndarray'>
['111', 2018, 1831]
<class 'list'>
['112' 2015 3403]
<class 'numpy.ndarray'>
['112', 2015, 3403]
<class 'list'>
['112' 2016 2805]
<class 'numpy.ndarray'>
['112', 2016, 2805]
<class 'list'>
['112' 2017 5123]
<class 'numpy.ndarray'>
['112', 2017, 5123]
<class 'list'>
['112' 2018 3468]
<class 'numpy.ndarray'>
['112', 2018, 3468]
<class 'list'>
['113' 2015 1669]
<class 'numpy.ndarray'>
['113', 2015, 1669]
<class 'list'>
['113' 2016 1275]
<class 'numpy.ndarray'>
['113', 2016, 1275]
<class 'list'>
['113' 2017 2328]
<class 'numpy.ndarray'>
['113', 2017, 2328]
<class 'list'>
['113' 2018 1599]
<class 'numpy.ndarray'>
['113', 2018, 1599]
<class 'list'>
['121' 2017 1]
<class 'numpy.ndarray'>
['121', 2017, 1]
<class 'list'>
['121' 2018 8]
<class 'numpy.ndarray'>
['121', 2018, 8]
<class 'list'>
['122' 2015 23]
<class 'numpy.ndarray'>
['122', 2015, 23]
<class 'list'>
['122' 2017 7]
<class 'numpy.ndarray'>
['122', 2017, 7]
<class 'list'>
['122' 2018 931]
<class 'numpy.ndarray'>
['122', 2018, 931]
<class 'list'>
['123' 2015 26]
<class 'numpy.ndarray'>
['123', 2015, 26]
<class 'list'>
['123' 2017 4]
<class 'numpy.ndarray'>
['123', 2017, 4]
<class 'list'>
['123' 2018 1917]
<class 'numpy.ndarray'>
['123', 2018, 1917]
<class 'list'>
['132' 2018 4]
<class 'numpy.ndarray'>
['132', 2018, 4]
<class 'list'>
['133' 2015 15]
<class 'numpy.ndarray'>
['133', 2015, 15]
<class 'list'>
['133' 2016 222]
<class 'numpy.ndarray'>
['133', 2016, 222]
<class 'list'>
['133' 2017 36]
<class 'numpy.ndarray'>
['133', 2017, 36]
<class 'list'>
['133' 2018 201]
<class 'numpy.ndarray'>
['133', 2018, 201]
<class 'list'>
['211' 2015 3623]
<class 'numpy.ndarray'>
['211', 2015, 3623]
<class 'list'>
['211' 2016 4572]
<class 'numpy.ndarray'>
['211', 2016, 4572]
<class 'list'>
['211' 2017 3625]
<class 'numpy.ndarray'>
['211', 2017, 3625]
<class 'list'>
['211' 2018 7428]
<class 'numpy.ndarray'>
['211', 2018, 7428]
<class 'list'>
['212' 2015 6628]
<class 'numpy.ndarray'>
['212', 2015, 6628]
<class 'list'>
['212' 2016 8753]
<class 'numpy.ndarray'>
['212', 2016, 8753]
<class 'list'>
['212' 2017 7022]
<class 'numpy.ndarray'>
['212', 2017, 7022]
<class 'list'>
['212' 2018 14367]
<class 'numpy.ndarray'>
['212', 2018, 14367]
<class 'list'>
['213' 2015 3120]
<class 'numpy.ndarray'>
['213', 2015, 3120]
<class 'list'>
['213' 2016 4065]
<class 'numpy.ndarray'>
['213', 2016, 4065]
<class 'list'>
['213' 2017 3140]
<class 'numpy.ndarray'>
['213', 2017, 3140]
<class 'list'>
['213' 2018 6656]
<class 'numpy.ndarray'>
['213', 2018, 6656]
<class 'list'>
['221' 2015 2]
<class 'numpy.ndarray'>
['221', 2015, 2]
<class 'list'>
['221' 2016 5]
<class 'numpy.ndarray'>
['221', 2016, 5]
<class 'list'>
['221' 2017 3]
<class 'numpy.ndarray'>
['221', 2017, 3]
<class 'list'>
['221' 2018 11]
<class 'numpy.ndarray'>
['221', 2018, 11]
<class 'list'>
['222' 2015 32]
<class 'numpy.ndarray'>
['222', 2015, 32]
<class 'list'>
['222' 2016 61]
<class 'numpy.ndarray'>
['222', 2016, 61]
<class 'list'>
['222' 2017 42]
<class 'numpy.ndarray'>
['222', 2017, 42]
<class 'list'>
['222' 2018 167]
<class 'numpy.ndarray'>
['222', 2018, 167]
<class 'list'>
['223' 2015 37]
<class 'numpy.ndarray'>
['223', 2015, 37]
<class 'list'>
['223' 2016 34]
<class 'numpy.ndarray'>
['223', 2016, 34]
<class 'list'>
['223' 2017 31]
<class 'numpy.ndarray'>
['223', 2017, 31]
<class 'list'>
['223' 2018 158]
<class 'numpy.ndarray'>
['223', 2018, 158]
<class 'list'>
['231' 2018 2]
<class 'numpy.ndarray'>
['231', 2018, 2]
<class 'list'>
['232' 2015 4]
<class 'numpy.ndarray'>
['232', 2015, 4]
<class 'list'>
['232' 2016 1]
<class 'numpy.ndarray'>
['232', 2016, 1]
<class 'list'>
['232' 2017 2]
<class 'numpy.ndarray'>
['232', 2017, 2]
<class 'list'>
['232' 2018 37]
<class 'numpy.ndarray'>
['232', 2018, 37]
<class 'list'>
['233' 2015 23]
<class 'numpy.ndarray'>
['233', 2015, 23]
<class 'list'>
['233' 2016 55]
<class 'numpy.ndarray'>
['233', 2016, 55]
<class 'list'>
['233' 2017 592]
<class 'numpy.ndarray'>
['233', 2017, 592]
<class 'list'>
['233' 2018 475]
<class 'numpy.ndarray'>
['233', 2018, 475]
<class 'list'>
['311' 2015 1838]
<class 'numpy.ndarray'>
['311', 2015, 1838]
<class 'list'>
['311' 2016 2329]
<class 'numpy.ndarray'>
['311', 2016, 2329]
<class 'list'>
['311' 2017 2351]
<class 'numpy.ndarray'>
['311', 2017, 2351]
<class 'list'>
['311' 2018 3537]
<class 'numpy.ndarray'>
['311', 2018, 3537]
<class 'list'>
['312' 2015 3480]
<class 'numpy.ndarray'>
['312', 2015, 3480]
<class 'list'>
['312' 2016 4646]
<class 'numpy.ndarray'>
['312', 2016, 4646]
<class 'list'>
['312' 2017 4691]
<class 'numpy.ndarray'>
['312', 2017, 4691]
<class 'list'>
['312' 2018 7080]
<class 'numpy.ndarray'>
['312', 2018, 7080]
<class 'list'>
['313' 2015 1584]
<class 'numpy.ndarray'>
['313', 2015, 1584]
<class 'list'>
['313' 2016 2115]
<class 'numpy.ndarray'>
['313', 2016, 2115]
<class 'list'>
['313' 2017 2176]
<class 'numpy.ndarray'>
['313', 2017, 2176]
<class 'list'>
['313' 2018 3393]
<class 'numpy.ndarray'>
['313', 2018, 3393]
<class 'list'>
['321' 2015 5]
<class 'numpy.ndarray'>
['321', 2015, 5]
<class 'list'>
['321' 2016 10]
<class 'numpy.ndarray'>
['321', 2016, 10]
<class 'list'>
['321' 2017 2]
<class 'numpy.ndarray'>
['321', 2017, 2]
<class 'list'>
['321' 2018 17]
<class 'numpy.ndarray'>
['321', 2018, 17]
<class 'list'>
['322' 2015 56]
<class 'numpy.ndarray'>
['322', 2015, 56]
<class 'list'>
['322' 2016 81]
<class 'numpy.ndarray'>
['322', 2016, 81]
<class 'list'>
['322' 2017 64]
<class 'numpy.ndarray'>
['322', 2017, 64]
<class 'list'>
['322' 2018 188]
<class 'numpy.ndarray'>
['322', 2018, 188]
<class 'list'>
['323' 2015 41]
<class 'numpy.ndarray'>
['323', 2015, 41]
<class 'list'>
['323' 2016 70]
<class 'numpy.ndarray'>
['323', 2016, 70]
<class 'list'>
['323' 2017 62]
<class 'numpy.ndarray'>
['323', 2017, 62]
<class 'list'>
['323' 2018 154]
<class 'numpy.ndarray'>
['323', 2018, 154]
<class 'list'>
['331' 2015 1]
<class 'numpy.ndarray'>
['331', 2015, 1]
<class 'list'>
['331' 2017 1]
<class 'numpy.ndarray'>
['331', 2017, 1]
<class 'list'>
['332' 2015 10]
<class 'numpy.ndarray'>
['332', 2015, 10]
<class 'list'>
['332' 2016 14]
<class 'numpy.ndarray'>
['332', 2016, 14]
<class 'list'>
['332' 2017 4]
<class 'numpy.ndarray'>
['332', 2017, 4]
<class 'list'>
['332' 2018 55]
<class 'numpy.ndarray'>
['332', 2018, 55]
<class 'list'>
['333' 2015 22]
<class 'numpy.ndarray'>
['333', 2015, 22]
<class 'list'>
['333' 2016 46]
<class 'numpy.ndarray'>
['333', 2016, 46]
<class 'list'>
['333' 2017 94]
<class 'numpy.ndarray'>
['333', 2017, 94]
<class 'list'>
['333' 2018 424]
<class 'numpy.ndarray'>
['333', 2018, 424]
<class 'list'>

In [104]:
# 5.3 绘制图形
# 颜色池
range_color = ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf',
'#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']

range_max = int(display_data['number'].max())
# print(range_max)        # 14367

c = (
    Bar3D()  #设置了一个3D柱形图对象
    .add(
        "",  #图例
        [d.tolist() for d in display_data.values],  #数据
        # xaxis3d_opts=opts.Axis3DOpts(type_="category", name='分组名称'),  # x轴数据类型，名称，rfm_group
        xaxis3d_opts=opts.Axis3DOpts(type_="category", name='等级'),  # x轴数据类型，名称，rfm_group
        yaxis3d_opts=opts.Axis3DOpts(type_="category", name='年份'),  # y轴数据类型，名称，year
        zaxis3d_opts=opts.Axis3DOpts(type_="value", name='会员数量'),  # z轴数据类型，名称，number
    )
    .set_global_opts(  # 全局设置
        visualmap_opts=opts.VisualMapOpts(max_=range_max, range_color=range_color),  #设置颜色，及不同取值对应的颜色
        title_opts=opts.TitleOpts(title="RFM分组结果"),  #设置标题
    )
)
print(type(c))      # <class 'pyecharts.charts.three_axis_charts.bar3D.Bar3D'>
# c.render()  # 数据保存到本地的网页中.
# c.render_notebook() #在notebook中显示

14367
<class 'pyecharts.charts.three_axis_charts.bar3D.Bar3D'>

In [111]:
from pyecharts.faker import Faker

data = [rfm]
c = (
    Bar3D()
    .add(
        "",
        [[d['r_label'], d['f_label'], d['m_label']] for d in data],
        xaxis3d_opts=opts.Axis3DOpts(Faker.clock, type_="category"),
        yaxis3d_opts=opts.Axis3DOpts(Faker.week_en, type_="category"),
        zaxis3d_opts=opts.Axis3DOpts(type_="value"),
    )
    .set_global_opts(
        visualmap_opts=opts.VisualMapOpts(max_=20),
        title_opts=opts.TitleOpts(title="Bar3D-基本示例"),
    )
)
c.render("bar3d_base.html")

NameError: name 'Faker' is not defined